<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find aist_description)/object/urdf/tray.urdf.xacro"/>

  <link name="base_link"/>

  <xacro:tray prefix="a_"
	      width="0.3" length="0.2" height="0.03" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:tray>
</robot>
