<launch>
	<include file="$(find o2as_moveit_config)/launch/demo.launch">
	</include>
	<include file="$(find o2as_vision)/launch/vision.launch">
    </include>

	<!-- <node name="o2as_skill_server" pkg="o2as_skills" type="o2as_skill_server" output="screen">
	</node> -->

	<arg name="parts_dict_filename" default="$(find o2as_assembly_task)/config/parts_dict.yaml"/>
	<node name="o2as_assembly_task_node" pkg="o2as_assembly_task" type="o2as_assembly_task_node.py" output="screen">
        <rosparam command="load" file="$(arg parts_dict_filename)"/>
	</node>
</launch>
