<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ceatec" >

  <!-- Fetch robot in empty scene (root = "map") -->
  <xacro:include filename="$(find aist_description)/scenes/urdf/fetch_base_scene.urdf"/>

  <!-- Environment of "ceatec" scene (root = "world") -->
  <xacro:include filename="$(find aist_description)/scenes/urdf/ceatec_environment.urdf"/>

  <!-- Make "map" frame a child of "world" frame -->
  <joint name="world_map_joint" type="fixed">
    <parent link="world"/>
    <child  link="map"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
