<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="pgrp_calibration">
  <xacro:include filename="$(find aist_description)/scenes/urdf/pgrp_base_scene.urdf.xacro"/>

  <!-- Add AR markers -->
  <xacro:include filename="$(find aist_description)/objects/urdf/ar_markers.urdf.xacro"/>

  <xacro:ar_marker_70_5 prefix="a_bot_"
  			parent="a_bot_gripper_base_link"
  			marker_id="26"
			thickness="0.005">
    <origin xyz="0.08 0 0.02" rpy="0 0 0"/>
  </xacro:ar_marker_70_5>

  <xacro:ar_marker_70_5 prefix="b_bot_"
  			parent="b_bot_single_suction_gripper_base_link"
  			marker_id="26"
			thickness="0.005">
    <origin xyz="0.063 0.0 0.0215" rpy="0 0 0"/>
  </xacro:ar_marker_70_5>

  <xacro:ar_marker_160_10 prefix="workspace_"
			    parent="workspace_center"
			    marker_id="32"
			    thickness="0.001">
    <origin xyz="0.0 0.0 0.0005" rpy="0 0 0"/>
  </xacro:ar_marker_160_10>
</robot>
