<?xml version="1.0"?>
<launch>

  <arg name="joint_state_frequency"	default="50.0"/>
  <arg name="robot_state_frequency"	default="50.0"/>

  <!-- Setup parameters for joint_state_controller -->
  <rosparam file="$(find aist_control)/config/joint_state_controller.yaml"/>
  <param name ="joint_state_controller/publish_rate"
	 value="$(arg joint_state_frequency)"/>

  <!-- Spawn joint_state_controller -->
  <node name="joint_state_controller_spawner"
	pkg ="controller_manager" type="controller_manager"
	args="spawn joint_state_controller" respawn="false" output="screen"/>

  <!-- Convert sensor_msgs::JointState to geometry_msgs::TransformStamped
       using the parameter robot_description and publish to TF -->
  <node name="robot_state_publisher"
	pkg ="robot_state_publisher" type="robot_state_publisher" >
    <param name="publish_frequency" value="$(arg robot_state_frequency)"/>
  </node>

  <!-- Fake calibration -->
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic"
	args="pub /calibrated std_msgs/Bool true"/>
  
</launch>
