<?xml version="1.0"?>
<launch>

  <arg name="prefix"	default="arm_"/>
  <arg name="device"	default="ur5"/>
  <arg name="spawn"	default="true"/>
  
  <!-- Setup parameters for device controllers -->
  <rosparam file="$(find aist_control)/config/$(arg device)_controller.yaml"
	    subst_value="true"/>

  <!-- Spawn controllers -->
  <node if="$(arg spawn)"
	name="$(arg prefix)controller_manager"
	pkg ="controller_manager" type="controller_manager"
	args="spawn $(arg prefix)controller"
	respawn="false" output ="screen"/>

</launch>
