<?xml version="1.0"?>
<launch>
  <arg name="robot_name"		default="iiwa"/>
  <arg name="device"			default="iiwa14"/>
  <arg name="hardware_interface"	default="PositionJointInterface"/>
  <arg name="trajectory"		default="true"/>

  <arg name="controller_prefix"
       value="$(arg robot_name)_$(arg hardware_interface)_"/>

  <!-- Setup list of controllers to be spawned -->
  <arg name ="controller_list" if="$(arg trajectory)"
       value="$(arg controller_prefix)trajectory_controller"/>
  <arg name ="controller_list" unless="$(arg trajectory)"
       value="$(arg controller_prefix)J1_controller
	      $(arg controller_prefix)J2_controller
	      $(arg controller_prefix)J3_controller
	      $(arg controller_prefix)J4_controller
	      $(arg controller_prefix)J5_controller
	      $(arg controller_prefix)J6_controller
	      $(arg controller_prefix)J7_controller"/>

  <!-- Setup parameters for IIWA controllers -->
  <rosparam file="$(find aist_control)/config/$(arg device)_controller.yaml"
	    subst_value="true"/>

  <!-- Spawn controllers -->
  <node name="$(arg robot_name)_controller_manager"
    	pkg ="controller_manager" type="controller_manager"
    	args="spawn $(arg controller_list)"
    	respawn="false" output ="screen"/>

</launch>
