<?xml version="1.0"?>
<launch>

  <arg name="controllers"		default=""/>
  <arg name="prefixes"			default=""/>
  <arg name="devices"			default=""/>
  <arg name="joint_state_frequency"	default="50.0"/>

  <group if="$(eval len(arg('controllers')) != 0)">
    <arg name="controller" value="$(eval arg('controllers').split()[0])"/>
    <arg name="prefix"	   value="$(eval arg('prefixes').split()[0])"/>
    <arg name="device"	   value="$(eval arg('devices').split()[0])"/>
    <rosparam file="$(find aist_control
		    )/config/templates/$(arg device)_controller.yaml"
	      subst_value="true"/>

    <arg name="remaining_controllers"
	 value="$(eval ' '.join(arg('controllers').split()[1:]))"/>
    <arg name="remaining_prefixes"
	 value="$(eval ' '.join(arg('prefixes').split()[1:]))"/>
    <arg name="remaining_devices"
	 value="$(eval ' '.join(arg('devices').split()[1:]))"/>
    <include file="$(find aist_control)/launch/set_controller_params.launch">
      <arg name="controllers"		value="$(arg remaining_controllers)"/>
      <arg name="prefixes"		value="$(arg remaining_prefixes)"/>
      <arg name="devices"		value="$(arg remaining_devices)"/>
      <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    </include>
  </group>

</launch>
