<?xml version="1.0"?>
<launch>

  <arg name="controllers"		default=""/>
  <arg name="robot_names"		default=""/>
  <arg name="devices"			default=""/>
  <arg name="joint_state_frequency"	default="50.0"/>

  <!-- Setup controllers parameters -->
  <include file="$(find aist_control)/launch/set_controller_params.launch">
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="robot_names"		value="$(arg robot_names)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
  </include>

  <!-- Spawn controllers -->
  <node name="controller_manager"
	pkg ="controller_manager" type="controller_manager"
	args="spawn $(arg controllers)"	respawn="false" output="screen"/>

</launch>
