<?xml version="1.0"?>
<launch>

  <arg name="controllers"		default=""/>
  <arg name="prefixes"			default=""/>
  <arg name="devices"			default=""/>
  <arg name="joint_state_frequency"	default="500.0"/>
  <arg name="sim"			default="false"/>
  <arg name="manager"			default="torobo_nodelet_manager"/>

  <group ns="torobo">
    <!-- Setup controller parameters -->
    <include file="$(find aist_control)/launch/set_controller_params.launch">
      <arg name="controllers"		value="$(arg controllers)"/>
      <arg name="prefixes"		value="$(arg prefixes)"/>
      <arg name="devices"		value="$(arg devices)"/>
      <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    </include>

    <!-- Setup controller names to be spawned -->
    <param name="controller_list" type="yaml"
	   value="$(eval '[' + ','.join(arg('controllers').split()) + ']')"/>
  </group>

  <!-- Spawn controllers -->
  <include file="$(find torobo_control)/launch/torobo_control_nodelet.launch">
    <arg name="sim"	value="$(arg sim)"/>
    <arg name="manager" value="$(arg manager)"/>
  </include>

</launch>
