<launch>

  <arg name="marker_id"		default="26"/>
  <arg name="marker_size"	default="0.070"/>    <!-- in meters -->
  <arg name="camera_name"	default="a_bot_camera"/>
  <arg name="camera_frame"	default="$(arg camera_name)_color_optical_frame"/>
  <arg name="marker_frame"	default="aruco_marker_frame"/>
  <arg name="reference_frame"	default=""/>
  <arg name="corner_refinement"	default="LINES"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"		value="$(arg camera_name)"/>
    <arg name="enable_infra1"	value="false"/>
    <arg name="enable_infra2"	value="false"/>
    <arg name="align_depth"	value="true"/>
  </include>

  <group ns="$(arg camera_name)">
    <node name="aruco_tracker" pkg="o2as_aruco_ros" type="o2as_single"
  	  output="screen">
      <remap from="/camera_info"	to="color/camera_info"/>
      <remap from="/image"		to="color/image_raw"/>
      <remap from="/depth"		to="aligned_depth_to_color/image_raw"/>

      <!-- Other parameters -->
      <param name="image_is_rectified"	value="false"/>
      <param name="marker_id"		value="$(arg marker_id)"/>
      <param name="marker_size"		value="$(arg marker_size)"/>
      <param name="reference_frame"	value="$(arg reference_frame)"/>
      <param name="camera_frame"	value="$(arg camera_frame)"/>
      <param name="marker_frame"	value="$(arg marker_frame)"/>
      <param name="corner_refinement"	value="$(arg corner_refinement)" />
    </node>
  </group>

  <arg name="command_args"
       value="-d $(find o2as_aruco_ros)/launch/rs_d435.rviz"/>
  <node name="$(anon rviz)" pkg="rviz" type="rviz"
	respawn="false" args="$(arg command_args)" output="screen"/>

  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>

</launch>
