<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aist_kitting_scene">
    <xacro:include filename="$(find aist_scene_description)/urdf/kitting_tray_with_partitions.xacro" />
  <xacro:include filename="$(find o2as_scene_description)/urdf/o2as_box.xacro" />

  <xacro:include filename="$(find aist_scene_description)/urdf/kitting_bins.xacro" />
  <xacro:include filename="$(find o2as_scene_description)/urdf/kitting_bin_macros.xacro" />

  <xacro:property name="tray_width" value=".210" />
  <xacro:property name="tray_length" value=".300" />
  <xacro:property name="tray_rack_width" value=".210" />
  <xacro:property name="tray_rack_length" value=".600" />
  <xacro:property name="tray_rack_height" value=".015" />
  <xacro:property name="bin_rack_width" value=".420" />
  <xacro:property name="bin_rack_length" value=".680" />
  <xacro:property name="bin_rack_height" value=".015" />
  <xacro:include filename="$(find aist_scene_description)/urdf/aist_base_scene.urdf.xacro" />
</robot>
