<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="aist_calibration_scene">
  <xacro:include filename="$(find aist_scene_description)/urdf/aist_base_scene.urdf.xacro"/>

  <!-- Add AR markers -->
  <xacro:include filename="$(find aist_gazebo)/urdf/aist_ar_marker.urdf.xacro"/>

  <xacro:aist_ar_marker prefix="a_bot_" parent="a_bot_robotiq_85_tip_link" marker_id="26">
    <origin xyz="0.0 0.0 0.0185" rpy="0 0 0"/>
  </xacro:aist_ar_marker>

  <!-- <xacro:aist_ar_marker prefix="b_bot_"
      parent="b_bot_single_suction_gripper_base_link"
      marker_id="26">
    <origin xyz="0.063 0.0 0.0215" rpy="0 0 0"/>
  </xacro:aist_ar_marker> -->

  <link name="workspace_center"/>
  <joint name="a_bot_to_workspace_joint" type="fixed">
    <parent link="a_bot_base_link"/>
    <child link="workspace_center"/>
    <origin xyz="0 0.5 0" rpy="0 0 0"/>
  </joint>
  <xacro:aist_ar_marker_16cm prefix="workspace_" parent="workspace_center" marker_id="32">
    <origin xyz="0.0 0.0 0.0005" rpy="0 0 0"/>
  </xacro:aist_ar_marker_16cm>
</robot>
