<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find aist_scene_description)/urdf/cabinet.urdf.xacro"/>

  <link name="base_link"/>
  
  <xacro:cabinet prefix=""
		 width="0.9" length="0.4" base_height="0.1"
		 shelf_height="0.6" back_height="1.2"
		 parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:cabinet>
</robot>

