<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="pgrp_calibration">
  <xacro:include filename="$(find aist_scene_description)/urdf/pgrp_base_scene.urdf.xacro"/>

  <!-- Add AR markers -->
  <xacro:include filename="$(find aist_gazebo)/urdf/aist_ar_marker.urdf.xacro"/>

  <xacro:aist_ar_marker prefix="b_bot_"
  			parent="b_bot_single_suction_gripper_base_link"
  			marker_id="26">
    <origin xyz="0.063 0.0 0.0215" rpy="0 0 0"/>
  </xacro:aist_ar_marker>

  <xacro:aist_ar_marker_16cm prefix="workspace_"
			     parent="workspace_center"
			     marker_id="32">
    <origin xyz="0.0 0.0 0.005" rpy="0 0 0"/>
  </xacro:aist_ar_marker_16cm>
</robot>
