<launch>
    <node name="dynamixel_controller" pkg="o2as_fastener_gripper" type="dynamixel_controller" output="screen"/>
    <node name="fg1" pkg="o2as_fastener_gripper" type="fastener_gripper_controller_action.py" output="screen">
        <param name="motor_id" value="1" type="int"/>
    </node>
    <node name="fg2" pkg="o2as_fastener_gripper" type="fastener_gripper_controller_action.py" output="screen">
        <param name="motor_id" value="2" type="int"/>
    </node>
    <node name="fg3" pkg="o2as_fastener_gripper" type="fastener_gripper_controller_action.py" output="screen">
        <param name="motor_id" value="3" type="int"/>
    </node>
</launch>
