<launch>

  <arg name="prefix" default="a_bot_"/>
  <arg name="config" default="$(find aist_robotiq2f85_controller)/config/default_controllers.yaml" />
  <arg name="namespace" default="$(arg prefix)gripper_controller"/>

  <rosparam command="delete" param="$(arg namespace)" />
  <rosparam command="load" file="$(arg config)" />
  <node name="$(arg namespace)" pkg="aist_robotiq2f85_controller" type="aist_robotiq2f85_controller_node" output="screen" />

</launch>
