<launch>
    <!-- cameras
    616205004841 : osx
    612201001671 : osx/b_bot_camera
	605201001486 : osx
	627201001218 : osx
    -->
    <arg name="camera_name" default="camera"/>
    <arg name="serial_number" default="616205004841"/> <!-- specify serial number of your camera -->

    <include file="$(find o2as_realsense_camera)/launch/camera.launch">
        <arg name="node_name" value="$(arg camera_name)"/>
        <arg name="serial_number" value="$(arg serial_number)"/>
    </include>

    <node name="camera_client" pkg="o2as_realsense_camera" type="demo.py" output="screen">
        <param name="camera_node_name" type="string" value="$(arg camera_name)"/>
        <param name="camera_data_path" type="string" value="$(find o2as_realsense_camera)/image"/>
        <param name="color_image_filename" type="string" value="color.png"/>
        <param name="depth_image_filename" type="string" value="depth.png"/>
        <param name="point_cloud_filename" type="string" value="cloud.pcd"/>
    </node>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find o2as_realsense_camera)/rviz/pointcloud.rviz" required="true" /> -->

</launch>
