<?xml version="1.0"?>
<launch>

  <arg name="prefix"	 default="a_bot_"/>
  <arg name="device"	 default="robotiq_85"/>
  <arg name="driver_arg" default=""/>

  <arg name="config"	 value="$(eval 'cmodel_action_controller_hande'
				if device == 'robotiq_hande' else
				'cmodel_action_controller_140'
				if device == 'robotiq_140' else
				'cmodel_action_controller')"/>

  <include file="$(find robotiq_control
		 )/launch/ur_cmodel_action_controller.launch">
    <arg name="topic"		value="/$(arg prefix
				       )ur_hardware_interface/script_commnd"/>
    <arg name="namespace"	value="$(arg prefix)gripper_controller"/>
    <arg name="gripper_prefix"	value="$(arg prefix)"/>
    <arg name="config"		value="$(arg config)"/>
  </include>

</launch>
