<?xml version="1.0"?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="robot_description_file"
       default="$(find aist_description)/scenes/urdf/aist_base_scene.urdf"/>
  <arg name="manager"			default=""/>
  <arg name="gui"			default="true"/>
  <arg name="joint_state_frequency"	default="50"/>

  <arg name="gazebo_init_args"		default=""/>
  <arg name="prefixes"			default=""/>
  <arg name="devices"			default=""/>
  <arg name="controllers"		default=""/>
  <arg name="drivers"			default=""/>
  <arg name="driver_args"		default=""/>

  <param name="use_real_robot"	value="$(eval not sim)"/>

  <!-- Setup namespace -->
  <arg name="ns" value="$(eval '/' if manager == '' else 'torobo')"/>

  <!-- Load URDF to param "robot_description" and spawn the robot -->
  <group ns="$(arg ns)">
    <param name="robot_description"
  	   command="$(find xacro)/xacro --inorder
  		    '$(arg robot_description_file)'"/>
  </group>

  <group if="$(arg sim)">
    <!-- Startup simulated world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name"	value="worlds/empty.world"/>
      <arg name="paused"	value="true"/>
      <arg name="gui"		value="$(arg gui)"/>
      <arg name="verbose"	value="true"/>
    </include>

    <node ns="$(arg ns)" name="spawn_gazebo_model"
	  pkg="gazebo_ros" type="spawn_model"
          args="-urdf -param robot_description -model robot -unpause
		$(arg gazebo_init_args)"
	  output="screen"/>
  </group>

  <group unless="$(arg sim)">
    <!-- Spawn hardware drivers -->
    <include file="$(find aist_bringup)/launch/include/spawn_drivers.launch">
      <arg name="prefixes"	value="$(arg prefixes)"/>
      <arg name="devices"	value="$(arg devices)"/>
      <arg name="drivers"	value="$(arg drivers)"/>
      <arg name="driver_args"	value="$(arg driver_args)"/>
    </include>
  </group>

  <!-- Spawn controllers -->
  <include file="$(find aist_bringup)/launch/include/spawn_controllers.launch">
    <arg name="prefixes"		value="$(arg prefixes)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="manager"			value="$(arg manager)"/>
  </include>

</launch>
