<?xml version="1.0"?>
<launch>

  <arg name="prefix" default="fetch_"/>
  <arg name="device" default="base"/>

  <!-- Setup controller parameters. -->
  <rosparam file="$(find aist_bringup)/config/$(arg device)_controller.yaml"
	    subst_value="true"/>

  <group if="$(eval device == 'base')">
    <!-- Publish base_scan_raw if anything subscribes to it -->
    <node name="$(arg prefix)publish_base_scan_raw"
  	  pkg="topic_tools" type="relay" args="base_scan base_scan_raw" >
      <param name="lazy" type="bool" value="True"/>
    </node>

    <!-- Start a mux between application and teleop -->
    <node name="$(arg prefix)cmd_vel_mux"
	  pkg="topic_tools" type="mux" respawn="true"
	  args="$(arg prefix)base_controller/command /cmd_vel /teleop/cmd_vel">
      <remap from="mux" to="cmd_vel_mux" />
    </node>
  </group>

</launch>
