<?xml version="1.0"?>
<launch>
  <arg nameme="args" value=""/>

  <!-- Give this robot a serial number and version -->
  <param name="robot/serial"    value="ABCDEFGHIJKLMNOPQRSTUVWX"/>
  <param name="robot/version"   value="0.0.1"/>

  <!-- Load freight urdf to param "freight_description". -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find toyota2
                  )/urdf/freightorobo.urdf.xacro'"/>
  <node name="robot_spawner" pkg="gazebo_ros" type="spawn_model"
        respawn="false" output="screen"
        args="-urdf -param robot_description -model robot -unpause"/>

</launch>
