<?xml version="1.0"?>
<launch>

  <arg name="prefix"	 default="iiwa_"/>
  <arg name="device"	 default="iiwa14"/>
  <arg name="driver_arg" default="PositionJointInterface"/>

  <arg name="robot_name"	 value="$(eval prefix.rstrip('_'))"/>
  <arg name="hardware_interface" value="$(arg driver_arg)"/>
    
  <node name="$(arg prefix)driver" pkg="iiwa_hw" type="iiwa_hw-bin"
	output="screen">
    <rosparam file="$(find aist_bringup)/config/iiwa_driver.yaml"
	      subst_value="true"/>
  </node>

</launch>
