<?xml version="1.0"?>
<launch>

  <arg name="prefix"	 default="khi_"/>
  <arg name="device"	 default="RS007L"/>
  <arg name="driver_arg" default="10.66.171.91, 4, '',"/>

  <arg name="ip"	 value="$(eval driver_arg.split(',')[0].strip())"/>
  <arg name="period"	 value="$(eval driver_arg.split(',')[1].strip())"/>
  <arg name="rtcprog"	 value="$(eval driver_arg.split(',')[2].strip())"/>
  <arg name="plugins"	 value="$(eval
				','.join(driver_arg.split(',')[3].split()))"/>

  <arg name="opt_rtcprog"
       value="$(eval '' if rtcprog == '' else '--rtcprog ' + rtcprog)"/>
  <rosparam file="$(find aist_bringup)/config/khi_driver.yaml"
	    subst_value="true"/>
  <node name="$(arg prefix)driver" pkg="khi_robot_control" type="main"
	args="--interface $(arg ip) --period $(arg period)
	      $(arg opt_rtcprog) --robot $(arg device)"
	output="screen" cwd="node">
    <rosparam param="plugins" subst_value="true">[$(arg plugins)]</rosparam>
  </node>

  <rosparam ns="$(arg device)"
	    file="$(find aist_bringup)/config/$(arg device)_joint_limits.yaml"
	    subst_value="true"/>

</launch>
