<?xml version="1.0"?>
<launch>

  <arg name="prefix" default="khi_"/>
  <arg name="device" default="RS007L"/>

  <!-- Setup controller parameters. -->
  <rosparam file="$(find aist_bringup)/config/khi_controller.yaml"
	    subst_value="true"/>

  <!-- Load and start controllers. -->
  <node name="$(arg prefix)controller_spawner"
  	pkg="controller_manager" type="spawner"
  	output="screen" args="$(arg prefix)controller"/>

</launch>
