<?xml version="1.0"?>
<launch>

  <arg name="prefix"	 default="a_bot_"/>
  <arg name="device"	 default="robotiq_85"/>
  <arg name="driver_arg" default=""/>

  <arg name="config"	 value="$(find aist_robotiq2f85_controller)/config/default_controllers.yaml" />

  <include file="$(find aist_robotiq2f85_controller
		 )/launch/controller.launch">
    <arg name="namespace"	value="$(arg prefix)gripper_controller"/>
    <arg name="config"		value="$(arg config)"/>
  </include>

</launch>
