<?xml version="1.0"?>
<launch>

  <arg name="prefixes"			default=""/>
  <arg name="devices"			default=""/>
  <arg name="controllers"		default=""/>
  <arg name="torobo_controllers"	default=""/>
  <arg name="fetch_controllers"		default=""/>
  <arg name="joint_state_frequency"	default="50.0"/>
  <arg name="sim"			default="false"/>
  <arg name="manager"			default="torobo_nodelet_manager"/>

  <group if="$(eval len(devices) != 0)">
    <!-- Setup parameters for the device at the head of "devices". -->
    <arg name="prefix"	   value="$(eval prefixes.split()[0])"/>
    <arg name="device"	   value="$(eval devices.split()[0])"/>
    <arg name="controller" value="$(eval controllers.split()[0])"/>
    <include file="$(find aist_bringup
		   )/launch/include/$(arg controller)_controller.launch">
      <arg name="prefix" value="$(arg prefix)"/>
      <arg name="device" value="$(arg device)"/>
    </include>

    <!-- If "controller" is a torobo controller, add it to the list. -->
    <arg name ="updated_torobo_controllers"
	 value="$(eval torobo_controllers + ' ' + prefix+device+'_controller'
		if controller == 'torobo' else torobo_controllers)"/>

    <!-- If "controller" is a fetch controller, add it to the list. -->
    <arg name ="fetch_controller"
	 value="$(eval prefix + device + '_controller/gripper_action'
		if device == 'gripper' else '_controller')"/>
    <arg name ="updated_fetch_controllers"
	 value="$(eval fetch_controllers + ' ' + fetch_controller
		if controller == 'fetch' else fetch_controllers)"/>

    <!-- Recursively setup parameters for the remaining devices. -->
    <arg name ="remained_prefixes"
	 value="$(eval ' '.join(prefixes.split()[1:]))"/>
    <arg name ="remained_devices"
	 value="$(eval ' '.join(devices.split()[1:]))"/>
    <arg name ="remained_controllers"
	 value="$(eval ' '.join(controllers.split()[1:]))"/>
    <arg name ="kept_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name ="kept_sim"	value="$(arg sim)"/>
    <arg name="kept_manager"	value="$(arg manager)"/>
    <include file="$(find aist_bringup
		   )/launch/include/spawn_controllers.launch">
      <arg name="prefixes"	     value="$(arg remained_prefixes)"/>
      <arg name="devices"	     value="$(arg remained_devices)"/>
      <arg name="controllers"	     value="$(arg remained_controllers)"/>
      <arg name="torobo_controllers" value="$(arg updated_torobo_controllers)"/>
      <arg name="fetch_controllers"  value="$(arg updated_fetch_controllers)"/>
      <arg name="joint_state_frequency"	value="$(arg kept_frequency)"/>
      <arg name="sim"			value="$(arg kept_sim)"/>
      <arg name="manager"		value="$(arg kept_manager)"/>
    </include>
  </group>

  <group if="$(eval len(devices) == 0)">
    <!-- Setup parameters and spawn joint_state_controller -->
    <rosparam file="$(find aist_bringup)/config/joint_state_controller.yaml"
	      subst_value="true"/>
    <node name="joint_state_controller_spawner"
	  pkg ="controller_manager" type="spawner"
	  args="joint_state_controller"
	  output="screen"/>

    <group if="$(eval len(torobo_controllers) != 0)">
      <!-- Setup joint_state_controller parameters -->
      <rosparam ns="torobo"
		file="$(find aist_bringup)/config/joint_state_controller.yaml"
		subst_value="true"/>

      <!-- Setup controller names to be spawned -->
      <param name="torobo/controller_list" type="yaml"
      	     value="$(eval '[joint_state_controller,'
      		    + ','.join(torobo_controllers.split()) + ']')"/>

      <!-- Spawn joint_state_controller and torobo_controllers -->
      <include file="$(find torobo_control
		     )/launch/torobo_control_nodelet.launch">
	<arg name="sim"	    value="$(arg sim)"/>
	<arg name="manager" value="$(arg manager)"/>
      </include>
    </group>

    <group if="$(eval len(fetch_controllers) != 0)">
      <!-- Setup controller names to be spawned -->
      <param name="gazebo/default_controllers" type="yaml"
	     value="$(eval '[' + ','.join(fetch_controllers.split()) + ']')"/>
    </group>
  </group>

</launch>
