<?xml version="1.0"?>
<launch>

  <arg name="prefix" default="ur_"/>
  <arg name="device" default="ur5"/>

  <!-- Setup controller parameters. -->
  <arg name="frequency" value="$(eval 500 if device[-1] == 'e' else 125)"/>
  <rosparam file="$(find aist_bringup)/config/ur_controller.yaml"
	    subst_value="true"/>

  <!-- Load and start controllers. -->
  <node name="$(arg prefix)controller_spawner"
	pkg="controller_manager" type="spawner"
	output="screen" args="$(arg prefix)controller"/>

</launch>
