<?xml version="1.0"?>
<launch>

  <arg name="prefix"	 default="ur_"/>
  <arg name="device"	 default="ur5"/>
  <arg name="driver_arg" default="10.66.171.51, 50002"/>

  <arg name="ip"	 value="$(eval driver_arg.split(',')[0].strip())"/>
  <arg name="port"	 value="$(eval driver_arg.split(',')[1].strip())"/>

  <group ns="$(arg prefix)controller">
    <node name="ur_driver" pkg="ur_modern_driver" type="ur_driver"
    	  output="screen">
      <rosparam file="$(find aist_bringup)/config/ur_driver.yaml"
		subst_value="true"/>
      <remap from="joint_states" to="/joint_states"/>
    </node>
  </group>

</launch>
