<?xml version="1.0"?>
<launch>

  <arg name="prefix"	 default="ur_"/>
  <arg name="device"	 default="ur5"/>
  <arg name="driver_arg" default="10.66.171.51, 50001, 50002, False"/>

  <arg name="ip"		     value="$(eval driver_arg.split(',')[0])"/>
  <arg name="reverse_port"	     value="$(eval driver_arg.split(',')[1])"/>
  <arg name="script_sender_port"     value="$(eval driver_arg.split(',')[2])"/>
  <arg name="use_tool_communication" value="$(eval driver_arg.split(',')[3])"
       doc="On e-Series robots tool communication can be enabled with this argument"/>

  <!-- Load hardware interface -->
  <node name="$(arg prefix)ur_hardware_interface"
	pkg="ur_robot_driver" type="ur_robot_driver_node"
	output="screen" required="true">
    <rosparam file="$(find aist_bringup
		    )/config/$(arg prefix)calibration.yaml"/>
    <rosparam file="$(find aist_bringup)/config/ur_robot_driver.yaml"
	      subst_value="true"/>
    <remap from="joint_states" to="/joint_states"/>
  </node>

  <!-- Starts socat to bridge the robot's tool communication
       interface to a local tty device -->
  <node if="$(arg use_tool_communication)"
	name="ur_tool_communication_bridge"
	pkg="ur_robot_driver" type="tool_communication" output="screen">
    <rosparam file="(find aist_bringup)/config/ur_tool_communication.yaml"
	      subst_value="true"/>
  </node>

  <!-- Make sure to start this in the namespace of the hardware interface -->
  <node ns="$(arg prefix)ur_hardware_interface" name="ur_robot_state_helper"
	pkg="ur_robot_driver" type="robot_state_helper" output="screen"/>

</launch>
