<?xml version="1.0"?>
<launch>

  <arg name="prefix" default="ur_"/>
  <arg name="device" default="ur5"/>
  <arg name="sim"    default="false"/>
  
  <!-- Setup controller parameters. -->
  <arg name="scaled"	value="$(eval '' if sim else 'Scaled')"/>
  <arg name="frequency" value="$(eval 500 if device[-1] == 'e' else 125)"/>
  <rosparam file="$(find aist_bringup)/config/ur_robot_controller.yaml"
	    subst_value="true"/>

  <arg name="controllers" value="$(arg prefix)scaled_pos_joint_traj_controller
				 $(arg prefix)speed_scaling_state_controller
				 $(arg prefix)force_torque_sensor_controller"/>
  <node name="$(arg prefix)controller_spawner"
	pkg="controller_manager" type="spawner" output="screen"
	args="$(arg controllers)"/>

  <!-- Load controllers that are not started initially. -->
  <arg name="stopped_controllers"
       value="$(arg prefix)pos_joint_traj_controller"/>
  <node name="$(arg prefix)controller_stopped_spawner"
	pkg="controller_manager" type="spawner"	output="screen"
	args="--stopped $(arg stopped_controllers)"/>

  <node name="$(arg prefix)controller_stopper"
	pkg="controller_stopper" type="node" output="screen">
    <remap from="robot_running"
	   to="ur_hardware_interface/robot_program_running"/>
    <param name="consistent_controllers" type="yaml"
	   value="$(eval '[' + prefix + 'speed_scaling_state_controller,'
		  + prefix + 'force_torque_sensor_controller]')"/>
  </node>

</launch>
