<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kitting_scene">
  <xacro:include filename="$(find o2as_scene_description)/urdf/kitting_bins.xacro" />
  <xacro:include filename="$(find o2as_scene_description)/urdf/kitting_tray.xacro" />

  <!-- Insert: -->
  <!-- Tray 1 -->
  <!-- Tray 2 -->
  <!-- The base plate -->

  <!-- All the other parts need to be added somehow so that their frames can be updated, I guess. Hmmmmmmm. -->
  

  <!-- Manually defined pulley frame for the small test on 21 August. -->
  <joint name="test_joint" type="fixed">
    <parent link="workspace_center"/>
    <child link="pulley_front_end"/>
    <origin rpy="0.0 0.0 ${pi}" xyz="0.0 0.0 0.07 "/>
  </joint>
  <link name="pulley_front_end"/>

  <xacro:include filename="$(find o2as_parts_description)/urdf/assembly_parts_macros.urdf"/>

  <!-- <xacro:include filename="$(find o2as_parts_description)/urdf/display_all_parts.urdf"/> -->

  <xacro:include filename="$(find o2as_parts_description)/urdf/generated/full_assembly.urdf"/>
  <xacro:full_assembly prefix="assembled_" parent="workspace_center">
    <origin xyz="0 0.1 .065" rpy="0 0 ${-pi/2}" />
  </xacro:full_assembly>

    <!-- <xacro:include filename="$(find o2as_parts_description)/urdf/generated/full_assembly_frames_only.urdf"/>
  <xacro:full_assembly_frames_only prefix="assembled_frames_only_" parent="workspace_center">
    <origin xyz="0 0.1 .065" rpy="0 0 ${-pi/2}" />   
  </xacro:full_assembly_frames_only> -->
  
</robot>
