<?xml version="1.0"?>

<robot name="d435_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="d435_camera" params="prefix parent *origin">
    <xacro:include filename="$(find o2as_gazebo)/urdf/${prefix}camera.gazebo"/>
    <xacro:include filename="$(find realsense2_camera)/urdf/_d435.urdf.xacro"/>

    <xacro:sensor_d435 prefix="${prefix}" parent="${parent}">
      <xacro:insert_block name="origin"/>
    </xacro:sensor_d435>
  </xacro:macro>
</robot>
