<?xml version="1.0"?>
<robot name="dual_suction_gripper_o2as"
       xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="dual_suction_gripper_o2as"
	       params="prefix parent *origin">
    <material name="light_grey">
      <color rgba="0.8 0.8 0.8 1"/>
    </material>

    <link name="${prefix}dual_suction_gripper_base_link">
      <visual>
	<origin xyz="0.187 -0.035 -0.035" rpy="0 0 ${pi/2}"/>
	<geometry>
          <mesh filename="package://o2as_scene_description/meshes/dual_suction_gripper.stl"/>
	</geometry>
	<material name="light_grey"/>
      </visual>
    </link>

    <joint name="${prefix}dual_suction_gripper_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${prefix}dual_suction_gripper_base_link"/>
      <child  link="base_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>
</robot>
