<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kitting_scene">
  <xacro:include filename="$(find o2as_scene_description)/urdf/kitting_bin_macros.xacro" />
  <xacro:property name="rack_width" value=".640" />


 <!-- space for bin -->

 <!-- bin1_definition -->
 <xacro:property name="bin1_width" value="0.125"/>
 <xacro:property name="bin1_length" value="0.128"/>
 <xacro:property name="z_origin_offset_1" value="-.008" />

 <!-- bin2_definition -->
 <xacro:property name="bin2_width" value="0.112"/>
 <xacro:property name="bin2_length" value="0.201"/>
 <xacro:property name="z_origin_offset_2" value="-.009" />

 <!-- bin3_definition -->
 <xacro:property name="bin3_width" value="0.192"/>
 <xacro:property name="bin3_length" value="0.285"/>
 <xacro:property name="z_origin_offset_3" value="-.004" />

 <!-- A row of bin1 -->
 <xacro:property name="set1_x" value=".1675"/>
 <xacro:property name="set1_y" value="0.31"/>
 <xacro:property name="set1_z" value="0"/>
 <!-- A row of bin2 -->
 <xacro:property name="set2_x" value=".376"/>
 <xacro:property name="set2_y" value="0.31"/>
 <xacro:property name="set2_z" value="0"/>
 <!--set1_bin3_1_-->
  <xacro:kitting_bin_3 binname="set1_bin3_1" parent="workspace_center" z_origin_offset="-.004">
      <origin xyz=".1675 0.214 0.004" rpy="0 0 0" />
  </xacro:kitting_bin_3>
  <!--set1_bin2_1_-->
  <xacro:kitting_bin_2 binname="set1_bin2_1" parent="workspace_center" z_origin_offset="-.009">
      <origin xyz=".1675 0.062 0.009" rpy="0 0 0" />
  </xacro:kitting_bin_2>
  <!--set1_bin2_2_-->
  <xacro:kitting_bin_2 binname="set1_bin2_2" parent="workspace_center" z_origin_offset="-.009">
      <origin xyz=".1675 -0.05 0.009" rpy="0 0 0" />
  </xacro:kitting_bin_2>
  <!--set1_bin2_3_-->
  <xacro:kitting_bin_2 binname="set1_bin2_3" parent="workspace_center" z_origin_offset="-.009">
      <origin xyz=".1675 -0.162 0.009" rpy="0 0 0" />
  </xacro:kitting_bin_2>
  <!--set1_bin2_4_-->
  <xacro:kitting_bin_2 binname="set1_bin2_4" parent="workspace_center" z_origin_offset="-.009">
      <origin xyz=".1675 -0.274 0.009" rpy="0 0 0" />
  </xacro:kitting_bin_2>
  <!--set2_bin1_1_-->
  <xacro:kitting_bin_1 binname="set2_bin1_1" parent="workspace_center" z_origin_offset="-.008">
      <origin xyz=".376 0.2475 0.008" rpy="0 0 0" />
  </xacro:kitting_bin_1>
  <!--set2_bin1_2_-->
  <xacro:kitting_bin_1 binname="set2_bin1_2" parent="workspace_center" z_origin_offset="-.008">
      <origin xyz=".376 0.1225 0.008" rpy="0 0 0" />
  </xacro:kitting_bin_1>
  <!--set2_bin1_3_-->
  <xacro:kitting_bin_1 binname="set2_bin1_3" parent="workspace_center" z_origin_offset="-.008">
      <origin xyz=".376 -0.0025 0.008" rpy="0 0 0" />
  </xacro:kitting_bin_1>
  <!--set2_bin1_4_-->
  <xacro:kitting_bin_1 binname="set2_bin1_4" parent="workspace_center" z_origin_offset="-.008">
      <origin xyz=".376 -0.1275 0.008" rpy="0 0 0" />
  </xacro:kitting_bin_1>
  <!--set2_bin1_5_-->
  <xacro:kitting_bin_1 binname="set2_bin1_5" parent="workspace_center" z_origin_offset="-.008">
      <origin xyz=".376 -0.2525 0.008" rpy="0 0 0" />
  </xacro:kitting_bin_1>
 

  
</robot>
