<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="kitting_bin">

  <!-- This file defines a tray that could be used for temporarily placing items for regrasping during the kitting tray -->
  <xacro:macro name="kitting_tray" params="trayname parent *origin">

  <xacro:property name="mesh_file" value="package://o2as_scene_description/meshes/tray_PZ-0006-B.stl" />
  <xacro:property name="mesh_file_col" value="package://o2as_scene_description/meshes/tray_PZ-0006-B.vhacd.dae" />
  <xacro:property name="z_origin_offset" value="-.007" />

  <link name="${trayname}">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 ${z_origin_offset}"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/>
    </inertial>
    <visual>
      <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 ${z_origin_offset}"/>
      <geometry>
        <mesh filename="${mesh_file}" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="${pi/2} 0 ${pi/2}" xyz="0 0 ${z_origin_offset}"/>
      <geometry>
        <mesh filename="${mesh_file_col}" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="${trayname}" type="fixed">
      <parent link="${parent}" />
      <child link = "${trayname}" />
      <xacro:insert_block name="origin"/>
    </joint>
  </xacro:macro>
</robot>
