<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="task_board">

  <xacro:macro name="task_board" params="boardname parent *origin">
  <!-- The lines above don't work, the lines below do. Why?? This seems like a bug. -->
  <xacro:property name="mesh_file" value="package://o2as_scene_description/meshes/taskBoard.STL" />

  <link name="${boardname}">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0"/>
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="${mesh_file}" scale="1 1 1"/>
        <!-- <mesh filename="package://ur_description/meshes/ur5/visual/shoulder.dae"/> -->
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="${mesh_file}" scale="1 1 1"/>
        <!-- <mesh filename="package://ur_description/meshes/ur5/collision/shoulder.stl"/> -->
      </geometry>
    </collision>
  </link>

  <joint name="${boardname}" type="fixed">
      <parent link="${parent}" />
      <child link = "${boardname}" />
      <xacro:insert_block name="origin"/>
    </joint>
  
  <joint name="${boardname}_part1" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part1"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.34 0.34 0.01"/>
  </joint>
  <link name="${boardname}_part1"/>

  <joint name="${boardname}_part2" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part2"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.05 0.35 0.01"/>
  </joint>
  <link name="${boardname}_part2"/>

  <joint name="${boardname}_part3" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part3"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.08 0.31 0.01"/>
  </joint>
  <link name="${boardname}_part3"/>


  <joint name="${boardname}_part4" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part4"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.15 0.28 0.01"/>
  </joint>
  <link name="${boardname}_part4"/>

  <joint name="${boardname}_part5" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part5"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.07 0.26 0.01"/>
  </joint>
  <link name="${boardname}_part5"/>

  <joint name="${boardname}_part6" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part6"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.2 0.2 0.01"/>
  </joint>
  <link name="${boardname}_part6"/>
 
  <joint name="${boardname}_part8" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part8"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.32 0.25 0.01"/>
  </joint>
  <link name="${boardname}_part8"/>

  <joint name="${boardname}_part9" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part9"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.26 0.15 0.01"/>
  </joint>
  <link name="${boardname}_part9"/>

  <joint name="${boardname}_part10" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part10"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.16 0.36 0.01"/>
  </joint>
  <link name="${boardname}_part10"/>  

  <joint name="${boardname}_part11" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part11"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.06 0.18 0.01"/>
  </joint>
  <link name="${boardname}_part11"/>  

  <joint name="${boardname}_part12" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part12"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.14 0.14 0.01"/>
  </joint>
  <link name="${boardname}_part12"/>  

  <joint name="${boardname}_part13" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part13"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.35 0.12 0.01"/>
  </joint>
  <link name="${boardname}_part13"/>  

  <joint name="${boardname}_part14" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part14"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.23 0.23 0.01"/>
  </joint>
  <link name="${boardname}_part14"/>  

  <joint name="${boardname}_part15" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_part15"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.16 0.36 0.06"/>
  </joint>
  <link name="${boardname}_part15"/>  

  <joint name="${boardname}_corner1" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_corner1"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.01 0.39 0.06"/>
  </joint>
  <link name="${boardname}_corner1"/> 

  <joint name="${boardname}_corner2" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_corner2"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.39 0.39 0.06"/>
  </joint>
  <link name="${boardname}_corner2"/> 
  <joint name="${boardname}_corner3" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_corner3"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.39 0.01 0.06"/>
  </joint>
  <link name="${boardname}_corner3"/> 
  <joint name="${boardname}_corner4" type="fixed">
    <parent link="${boardname}"/>
    <child link="${boardname}_corner4"/>
    <origin rpy="0.0 0.0 ${pi/2}" xyz="0.01 0.01 0.06"/>
  </joint>
  <link name="${boardname}_corner4"/> 
  
  </xacro:macro>
  <!-- Add additional links for us to plan with.-->
</robot>
