<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5" >

  <xacro:arg name="prefix" default=""/>
  <xacro:arg name="origin_xyz" default="0.0 0.0 0.0"/>
  <xacro:arg name="origin_rpy" default="0.0 0.0 0.0"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5 -->
  <xacro:include filename="$(find ur_description)/urdf/ur5.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="$(arg prefix)" joint_limited="false"/>

  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "$(arg prefix)base_link" />
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  </joint>

</robot>
