<?xml version="1.0" ?>
<launch>
  <arg name="eye_on_hand"	default="false"/>
  <arg name="camera_name"	default="a_phoxi_m_camera"/>
  <arg name="camera_frame"	default="dummy_camera"/>
  <arg name="marker_frame"	default="dummy_marker"/>
  <arg name="reference_frame"	default=""/>

  <arg name="marker_id"		value="26"	unless="$(arg eye_on_hand)"/>
  <arg name="marker_id"		value="32"	if    ="$(arg eye_on_hand)"/>

  <arg name="marker_size"	value="0.07"	unless="$(arg eye_on_hand)"/>
  <arg name="marker_size"	value="0.16"	if    ="$(arg eye_on_hand)"/>

  <!-- <node name="aruco_tracker" pkg="aruco_ros" type="single"> -->
  <node name="aruco_tracker" pkg="o2as_aruco_ros" type="o2as_single"
  	output="screen">
    <remap from="/camera_info"	to="/$(arg camera_name)/camera_info"
	   if="$(eval arg('camera_name') == 'a_phoxi_m_camera')"/>
    <remap from="/image"	to="/$(arg camera_name)/texture"
	   if="$(eval arg('camera_name') == 'a_phoxi_m_camera')"/>
    <remap from="/pointcloud"	to="/$(arg camera_name)/pointcloud"
    	   if="$(eval arg('camera_name') == 'a_phoxi_m_camera')"/>

    <remap from="/camera_info"	to="/$(arg camera_name)/camera_info"
	   if="$(eval arg('camera_name') == 'b_phoxi_m_camera')"/>
    <remap from="/image"	to="/$(arg camera_name)/texture"
	   if="$(eval arg('camera_name') == 'b_phoxi_m_camera')"/>
    <remap from="/pointcloud"	to="/$(arg camera_name)/pointcloud"
    	   if="$(eval arg('camera_name') == 'b_phoxi_m_camera')"/>

    <remap from="/camera_info"	to="/$(arg camera_name)/rgb/camera_info"
	   if="$(eval arg('camera_name') == 'a_bot_camera')"/>
    <remap from="/image"	to="/$(arg camera_name)/rgb/image_raw"
	   if="$(eval arg('camera_name') == 'a_bot_camera')"/>
    <remap from="/pointcloud"	to="/$(arg camera_name)/depth/points"
    	   if="$(eval arg('camera_name') == 'a_bot_camera')"/>

    <!-- Other parameters -->
    <param name="image_is_rectified" value="false"/>
    <param name="marker_size"        value="$(arg marker_size)"/>
    <param name="marker_id"          value="$(arg marker_id)"/>
    <param name="camera_frame"       value="$(arg camera_frame)"/>
    <param name="marker_frame"       value="$(arg marker_frame)"/>
    <param name="reference_frame"    value="$(arg reference_frame)"/>
  </node>
</launch>
