<?xml version="1.0" ?>
<launch>
  <arg name="robot_name"	default="b_bot"/>
  <arg name="camera_name"	default="a_phoxi_m_camera"/>
  <arg name="config"		default="aist"/>
  <arg name="scene"		default="aist_base_scene"
       if="$(eval arg('config') == 'aist')"/>
  <arg name="scene"		default="o2as_base_scene"
       unless="$(eval arg('config') == 'aist')"/>
  <arg name="sim" type="bool"	default="false"/>

  <arg name="eye_on_hand" type="bool"
       value="$(eval arg('camera_name') == arg('robot_name') + '_camera')"/>

  <!-- Start ArUco -->
  <include file="$(find o2as_easy_handeye)/launch/aruco_tracker.launch">
    <arg name="eye_on_hand"	value="$(arg eye_on_hand)"/>
    <arg name="camera_name"	value="$(arg camera_name)"/>
  </include>

  <!-- Start robot controller -->
  <include file="$(find o2as_easy_handeye)/launch/robot_controller.launch">
    <arg name="config"	value="$(arg config)"/>
    <arg name="scene"	value="$(arg scene)"/>
    <arg name="sim"	value="$(arg sim)"/>
  </include>

  <!-- Start easy_handeye calibrator -->
  <include file="$(find o2as_easy_handeye)/launch/calibrate.launch">
    <arg name="namespace"
         value="$(arg camera_name)_from_$(arg robot_name)"/>
    <arg name="eye_on_hand"		value="$(arg eye_on_hand)"/>

    <arg name="tracking_base_frame"	value="camera_link"/>
    <arg name="tracking_marker_frame"	value="camera_marker"/>
    <arg name="robot_base_frame"	value="$(arg robot_name)_base_link"/>
    <arg name="robot_effector_frame"	value="$(arg robot_name)_ee_link"
         unless="$(arg eye_on_hand)"/>
    <arg name="robot_effector_frame"	value="$(arg robot_name)_wrist_2_link"
         if="$(arg eye_on_hand)"/>

    <arg name="freehand_robot_movement"		value="true"/>
    <arg name="robot_velocity_scaling"		value="0.5"/>
    <arg name="robot_acceleration_scaling"	value="0.2"/>
    <arg name="move_group"			value="$(arg robot_name)"/>
  </include>

  <!-- Start rqt_reconfigure -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
</launch>
