<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotiq_hande" >
  <!-- robotiq_hande_gripper -->
  <xacro:include filename="$(find aist_robotiq_description)/urdf/robotiq_140_gripper.urdf.xacro" />
  <xacro:robotiq_140_gripper prefix="a_bot_" parent="base_link">
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </xacro:robotiq_140_gripper>

  <link name="base_link" />
</robot>
