<launch>
    <!-- parts info -->
	<arg name="parts_list_filename" default="$(find o2as_parts_description)/config/assembly_parts_list.yaml"/>
	<include file="$(find o2as_parts_description)/launch/demo.launch">
        <arg name="parts_list_filename" value="$(arg parts_list_filename)"/>
    </include>
    
    <!-- o2as_vision -->
    <arg name="camera_list" default=""/>
    <node name="o2as_vision_node" pkg="o2as_vision" type="o2as_vision_node.py" output="screen">
        <param name="sleep_time" type="double" value="0.1"/>
        <param name="image_dir" type="string" value="$(find o2as_vision)/image"/>
        <rosparam param="camera_list" subst_value="True">$(arg camera_list)</rosparam> 
    </node>
</launch>
