<?xml version="1.0"?>
<launch>

  <arg name="scene"	default="ceatec_base_scene"/>
  <arg name="debug"	default="false"/>
  <arg name="gui"	default="true"/>
  <arg name="paused"	default="false"/>
  <arg name="headless"	default="false"/>
  <arg name="x"		default="0.0" />
  <arg name="y"		default="0.0" />
  <arg name="z"		default="0.0" />
  <arg name="yaw"	default="0.0" />
  <arg name="xr"	value="$(eval arg('x') - 0.5)" />
  <arg name="yr"	value="$(eval arg('y') - 0.5)" />

  <!-- Start Gazebo with a blank world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug"		value="$(arg debug)" />
    <arg name="gui"		value="$(arg gui)" />
    <arg name="paused"		value="$(arg paused)"/>
    <arg name="use_sim_time"	value="true"/>
    <arg name="headless"	value="$(arg headless)"/>
  </include>

  <!-- Setup controllers -->
  <rosparam file="$(find fetch_gazebo)/config/default_controllers.yaml"
	    command="load"/>

  <!-- Start robot_state_publisher -->
  <node name="robot_state_publisher"
	pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" value="100.0"/>
  </node>

  <!-- Give this robot a serial number and version -->
  <param name="robot/serial"	value="ABCDEFGHIJKLMNOPQRSTUVWX"/>
  <param name="robot/version"	value="0.0.1"/>

  <!-- Load robot urdf to param "robot_description". -->
  <!-- Put a robot in gazebo, make it look pretty -->
  <param name="robot_description"
  	 command="$(find xacro)/xacro --inorder '$(find
  		  fetch_gazebo)/robots/fetch.gazebo.xacro'"/>
  <node name="robot_spawner" pkg="gazebo_ros" type="spawn_model"
  	respawn="false" output="screen"
        args="-urdf -param robot_description -model robot -unpause
  	      -x $(arg xr) -y $(arg yr) -z $(arg z)"/>
  <node name="prepare_robot"
  	pkg="fetch_gazebo" type="prepare_simulated_robot.py"/>

  <!-- Load environment urdf to param "environment_description". -->
  <param name="environment_description"
  	 command="$(find xacro)/xacro --inorder '$(find
  		  aist_scene_description)/urdf/$(arg scene)_environment.urdf.xacro'"/>
  <node name="environment_spawner" pkg="gazebo_ros" type="spawn_model"
  	respawn="false" output="screen"
        args="-urdf -param environment_description -model environment -unpause
  	      -x $(arg x) -y $(arg y) -z $(arg z)"/>

  <!-- Head Camera Pipeline -->
  <include file="$(find fetch_gazebo)/launch/include/head_camera.launch.xml" />

  <!-- Publish base_scan_raw if anything subscribes to it -->
  <node name="publish_base_scan_raw"
  	pkg="topic_tools" type="relay" args="base_scan base_scan_raw" >
    <param name="lazy" type="bool" value="True"/>
  </node>

  <!-- Start a mux between application and teleop -->
  <node pkg="topic_tools" type="mux" name="cmd_vel_mux"
  	respawn="true" args="base_controller/command /cmd_vel /teleop/cmd_vel">
    <remap from="mux" to="cmd_vel_mux" />
  </node>

  <!-- <include file="$(find fetch_navigation)/launch/fetch_nav.launch"> -->
  <!--   <arg name="map_file"  value="$(find fetch_gazebo_demo)/maps/test_zone.yaml"/> -->
  <!-- </include> -->

</launch>
