<?xml version="1.0"?>
<launch>

  <arg name="paused"  default="true"/>
  <arg name="gui"     default="true"/>
  <arg name="scene"   default="diiwa_base_scene"/>

  <!-- Startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="gui"        value="$(arg gui)"/>
    <arg name="verbose"    value="true"/>
  </include>

  <!-- Load URDF to param "robot_description" and spawn it into gazebo. -->
  <param name="robot_description"
	 command="$(find xacro)/xacro --inorder '$(find
		  aist_description)/scenes/urdf/$(arg scene).urdf.xacro'"/>
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model robot -unpause"
	respawn="false"	output="screen"/>

  <!-- Spawn controllers -->
  <include file="$(find aist_control)/launch/iiwa_controller.launch">
    <arg name="robot_name" value="a_iiwa"/>
    <arg name="device"	   value="iiwa14"/>
  </include>
  <include file="$(find aist_control)/launch/iiwa_controller.launch">
    <arg name="robot_name" value="b_iiwa"/>
    <arg name="device"	   value="iiwa14"/>
  </include>

</launch>
