<?xml version="1.0"?>
<launch>

  <arg name="scene"	default="dtorobo_base_scene"/>
  <arg name="paused"	default="false"/>
  <arg name="gui"	default="true"/>
  <arg name="debug"	default="false"/>

  <!-- Startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"	value="$(find torobo_gazebo
				       )/worlds/ground_plane.world"/>
    <arg name="paused"		value="$(arg paused)"/>
    <arg name="gui"		value="$(arg gui)" />
    <arg name="debug"		value="$(arg debug)" />
  </include>

  <group ns="torobo">
    <!-- Load URDF to param "robot_description" and spawn the robot -->
    <param name="robot_description"
  	   command="$(find xacro)/xacro --inorder
  		    '$(find aist_description
		    )/scenes/urdf/$(arg scene).urdf.xacro'"/>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	  respawn="false" output="screen"
	  args="-urdf -model dtorobo -param robot_description"/>
  </group>

  <!-- Spawn controllers and publish robot status to TF -->
  <include file="$(find aist_control)/launch/dtorobo_control.launch">
    <arg name="sim" value="true"/>
  </include>

</launch>
