<?xml version="1.0"?>
<launch>

    <arg name="sim" default="true" doc="If true, the robot will be simulated in Gazebo" />

    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="model" default="iiwa14"/>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="headless" default="false"/>

    <arg name="rviz" default="true" />
    <arg name="gui" default="true" />
    <arg name="debug" default="false" />

    <arg name="end_effector" default=""/>
    <arg name="trajectory" default="true"/>

    <arg name="robot_name_1" default="a_iiwa"/>
    <arg name="origin_xyz_1" default="'0 0 0'" />

    <arg name="robot_2"      default="false"/>
    <arg name="robot_name_2" default="b_iiwa"/>
    <arg name="origin_xyz_2" default="'0 1 0'" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="worlds/empty.world"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="debug" value="$(arg debug)" />
    </include>

    <include file="$(find aist_gazebo)/launch/iiwa_gazebo_sub.xml">
        <arg name="sim" value="$(arg sim)" />
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="end_effector" value="$(arg end_effector)" />
        <arg name="robot_name" value="$(arg robot_name_1)" />
        <arg name="origin_xyz" value="$(arg origin_xyz_1)" />
    </include>
    <include file="$(find aist_iiwa_control)/launch/iiwa_control_ext.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="end_effector" value="$(arg end_effector)"/>
        <arg name="robot_name" value="$(arg robot_name_1)" />
        <arg name="trajectory" value="$(arg trajectory)"/>
    </include>

    <group if="$(arg robot_2)">
        <include file="$(find aist_gazebo)/launch/iiwa_gazebo_sub.xml">
            <arg name="sim" value="$(arg sim)" />
            <arg name="hardware_interface" value="$(arg hardware_interface)"/>
            <arg name="model" value="$(arg model)"/>
            <arg name="end_effector" value="$(arg end_effector)" />
            <arg name="robot_name" value="$(arg robot_name_2)" />
            <arg name="origin_xyz" value="$(arg origin_xyz_2)" />
        </include>
        <include file="$(find aist_iiwa_control)/launch/iiwa_control_ext.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)"/>
            <arg name="model" value="$(arg model)"/>
            <arg name="end_effector" value="$(arg end_effector)"/>
            <arg name="robot_name" value="$(arg robot_name_2)" />
            <arg name="trajectory" value="$(arg trajectory)"/>
        </include>
    </group>

</launch>

