<?xml version="1.0"?>
<launch>
  <arg name="paused"	default="true"/>
  <arg name="gui"	default="true"/>
  <arg name="scene"	default="pgrp_base_scene"/>

  <!-- Startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused"     value="$(arg paused)"/>
    <arg name="gui"        value="$(arg gui)"/>
    <arg name="verbose"    value="true"/>
  </include>

  <!-- Load URDF to param "robot_description" and spawn the robot in gazebo -->
  <param name="robot_description"
	 command="$(find xacro)/xacro --inorder '$(find
		  aist_description)/scenes/urdf/$(arg scene).urdf'"/>
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -param robot_description -model pgrp_bots
	      -J a_bot_shoulder_pan_joint 1.5708
	      -J a_bot_shoulder_lift_joint -2.1
	      -J a_bot_elbow_joint 1.4
	      -J a_bot_wrist_1_joint -0.85
	      -J a_bot_wrist_2_joint -1.5708
	      -J a_bot_wrist_3_joint 0.0
	      -J b_bot_shoulder_pan_joint 1.5708
	      -J b_bot_shoulder_lift_joint -2.1
	      -J b_bot_elbow_joint 1.4
	      -J b_bot_wrist_1_joint -0.85
	      -J b_bot_wrist_2_joint -1.5708
	      -J b_bot_wrist_3_joint 0.0
	      -unpause"
	respawn="false"
	output="screen"/>

  <!-- Spawn controllers -->
  <include file="$(find aist_control)/launch/controller.launch">
    <arg name="prefix" value="a_bot_"/>
    <arg name="device" value="ur5"/>
  </include>
  <include file="$(find aist_control)/launch/controller.launch">
    <arg name="prefix" value="b_bot_"/>
    <arg name="device" value="ur5"/>
  </include>

  <!-- Spawn joint_state_controller and robot_state_publisher -->
  <include file="$(find aist_control)/launch/controller_utils.launch"/>

</launch>
