<?xml version="1.0"?>
<launch>

  <arg name="paused"	default="false"/>
  <arg name="gui"	default="true"/>
  <arg name="scene"	default="skhi_base_scene"/>

  <!-- Startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused"	value="$(arg paused)"/>
    <arg name="gui"	value="$(arg gui)"/>
  </include>

  <!-- Push robot_description to factory and spawn robot in gazebo -->
  <param name="robot_description"
	 command="$(find xacro)/xacro --inorder '$(find
		  aist_description)/scenes/urdf/$(arg scene).urdf'"/>
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
	args="-urdf -param robot_description -model robot"
	respawn="false" output="screen" />

  <!-- Spawn controllers -->
  <include file="$(find aist_control)/launch/controller.launch">
    <arg name="prefix" value="a_khi_"/>
    <arg name="device" value="RS007L"/>
  </include>
  <include file="$(find aist_control)/launch/controller.launch">
    <arg name="prefix" value=""/>
    <arg name="device" value="gripper"/>
    <arg name="spawn"  value="false"/>
  </include>

  <!-- Spawn joint_state_controller and robot_state_publisher -->
  <include file="$(find aist_control)/launch/controller_utils.launch"/>

</launch>
