<?xml version="1.0"?>
<launch>

  <arg name="scene"		default="storobo_base_scene"/>
  <arg name="paused"		default="false"/>
  <arg name="use_sim_time"	default="true"/>
  <arg name="gui"		default="true"/>
  <arg name="headless"		default="false"/>
  <arg name="debug"		default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"	value="$(find torobo_gazebo
				       )/worlds/ground_plane.world"/>
    <arg name="paused"		value="$(arg paused)"/>
    <arg name="use_sim_time"	value="$(arg use_sim_time)"/>
    <arg name="gui"		value="$(arg gui)" />
    <arg name="headless"	value="$(arg headless)"/>
    <arg name="debug"		value="$(arg debug)" />
  </include>

  <group ns="torobo">
    <!-- load robot description URDF -->
    <param name="robot_description"
  	   command="$(find xacro)/xacro --inorder
  		    '$(find aist_description
		    )/scenes/urdf/$(arg scene).urdf.xacro'"/>

    <!-- Run a python script to the send a service call to gazebo_ros
	 to spawn a URDF robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
	  respawn="false" output="screen"
	  args="-urdf -model storobo -param robot_description"/>

    <!-- launch nodelet manager -->
    <node name="torobo_nodelet_manager" pkg="nodelet" type="nodelet"
      	  args="manager" output="screen"/>
  </group>

</launch>
