<?xml version="1.0"?>
<launch>

  <arg name="rviz_config"	default=""/>

  <include file="$(find aist_bringup)/launch/include/move_group.launch">
    <arg name="robot_description_file"
	 value="$(find aist_description)/scenes/urdf/ceatec.urdf.xacro"/>
    <arg name="moveit_config"	value="$(find ceatec_moveit_config)"/>
    <arg name="rviz_config"	value="$(arg rviz_config)"/>
  </include>

  <rosparam file="$(find aist_routines)/config/ceatec_config.yaml"/>

</launch>
