<?xml version="1.0"?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="scene"			default="diiwa_base_scene"/>
  <arg name="hardware_interface"	default="PositionJointInterface"/>
  <arg name="joint_state_frequency"	default="100"/>
  <arg name="robot_state_frequency"	default="100"/>
  <arg name="moveit_config"		default="$(find diiwa_moveit_config)"/>
  <arg name="rviz_config"		default=""/>

  <arg name="prefixes"		value="a_iiwa_ b_iiwa_"/>
  <arg name="devices"		value="iiwa14 iiwa14"/>
  <arg name="controllers"
       value="a_iiwa_$(arg hardware_interface)_trajectory_controller
	      b_iiwa_$(arg hardware_interface)_trajectory_controller"/>
  <arg name="drivers"		value="iiwa iiwa"/>
  <arg name="driver_args"	value="$(arg hardware_interface);
				       $(arg hardware_interface)"/>

  <include file="$(find aist_bringup)/launch/include/generic_bringup.launch">
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="scene"			value="$(arg scene)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name="robot_state_frequency"	value="$(arg robot_state_frequency)"/>
    <arg name="moveit_config"		value="$(arg moveit_config)"/>
    <arg name="rviz_config"		value="$(arg rviz_config)"/>
    <arg name="prefixes"		value="$(arg prefixes)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="drivers"			value="$(arg drivers)"/>
    <arg name="driver_args"		value="$(arg driver_args)"/>
  </include>

</launch>
