<?xml version="1.0"?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="scene"			default="dtorobo_base_scene"/>
  <arg name="manager"			default="torobo_nodelet_manager"/>
  <arg name="joint_state_frequency"	default="500"/>
  <arg name="robot_state_frequency"	default="500"/>
  <arg name="moveit_config"		default="$(find
						 dtorobo_moveit_config)"/>
  <arg name="rviz_config"		default=""/>

  <arg name="prefixes"		value="a_torobo_, b_torobo_,
				       a_torobo_, b_torobo_"/>
  <arg name="devices"		value="arm, arm, gripper, gripper"/>
  <arg name="controllers"	value="torobo, torobo, torobo, torobo"/>
  <arg name="drivers"		value="torobo, torobo"/>
  <arg name="driver_args"	value="10.66.171.61, 50000;
				       10.66.171.62, 50010"/>

  <param name="use_real_robot"	value="$(eval not arg('sim'))"/>
  <rosparam command="delete" param="grippers"/>
  <rosparam command="delete" param="cameras"/>
  <rosparam command="load"
 	    file="$(find aist_routines)/config/dtorobo_config.yaml"/>

  <!-- Spawn nodelet manager -->
  <node name="$(arg manager)" ns="torobo"
	pkg="nodelet" type="nodelet" args="manager" output="screen"/>

  <!-- Bringup robots -->
  <include file="$(find aist_bringup)/launch/include/generic_bringup.launch">
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="scene"			value="$(arg scene)"/>
    <arg name="manager"			value="$(arg manager)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name="robot_state_frequency"	value="$(arg robot_state_frequency)"/>
    <arg name="moveit_config"		value="$(arg moveit_config)"/>
    <arg name="rviz_config"		value="$(arg rviz_config)"/>
    <arg name="prefixes"		value="$(arg prefixes)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="drivers"			value="$(arg drivers)"/>
    <arg name="driver_args"		value="$(arg driver_args)"/>
  </include>

  <!-- Spawn torobo_dynamics -->
  <include file="$(find torobo_dynamics)/launch/torobo_dynamics_nodelet.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <!-- Spawn torobo_state_viewer -->
  <include file="$(find torobo_gui)/launch/torobo_state_viewer.launch"/>

  <!-- launch torobo collision detector -->
  <include file="$(find torobo_collision_detector
		 )/launch/torobo_collision_detector_nodelet.launch">
    <arg name="manager"	value="$(arg manager)"/>
  </include>

</launch>
