<?xml version="1.0"?>
<launch>

  <arg name="prefix"	default="khi_"/>
  <arg name="device"	default="RS007L"/>
  <arg name="ip"	default="10.66.171.91"/>
  <arg name="port"	default="0"/>
  <arg name="period"	defualt="4"/>

  <node name="$(arg prefix)driver" pkg="khi_robot_control" type="main"
	args="--interface $(arg ip)
	      --period $(arg period) --robot $(arg device)"
	respawn="false" output="screen" cwd="node">
    <rosparam file="$(find aist_bringup)/config/khi_driver.yaml"
	      subst_value="true"/>
  </node>

  <rosparam ns="$(arg device)"
	    file="$(find aist_bringup)/config/$(arg device)_joint_limits.yaml"
	    subst_value="true"/>

</launch>
