<?xml version="1.0"?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="scene"			default=""/>
  <arg name="joint_state_frequency"	default="50"/>
  <arg name="robot_state_frequency"	default="50"/>
  <arg name="moveit_config"		default="$(find mocap_moveit_config)"/>
  <arg name="rviz_config"		default=""/>

  <!-- Setup "ur5e" configuration -->
  <arg name="config"		value="mocap"/>
  <arg name="gazebo_init_args"	value="-J c_bot_shoulder_pan_joint 1.5708
				       -J c_bot_shoulder_lift_joint -2.1
				       -J c_bot_elbow_joint 1.4
				       -J c_bot_wrist_1_joint -0.85
				       -J c_bot_wrist_2_joint -1.5708
				       -J c_bot_wrist_3_joint 0.0"/>
  <arg name="prefixes"		value="c_bot_, c_bot_"/>
  <arg name="devices"		value="ur5e, robotiq_85"/>
  <arg name="controllers"	value="ur, ros"/>
  <arg name="drivers"		value="ur, cmodel"/>
  <arg name="driver_args"	value="10.66.171.53, 50002"/>

  <!-- Bringup robots -->
  <include file="$(find aist_bringup)/launch/include/connect_robots.launch">
    <arg name="robot_description_file"
	 value="$(find aist_description
		)/scenes/urdf/$(arg config)_base_scene.urdf.xacro
		scene:=$(arg scene)"/>
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name="gazebo_init_args"	value="$(arg gazebo_init_args)"/>
    <arg name="prefixes"		value="$(arg prefixes)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="drivers"			value="$(arg drivers)"/>
    <arg name="driver_args"		value="$(arg driver_args)"/>
  </include>

  <!-- Start MoveIt! -->
  <include file="$(find aist_bringup)/launch/include/move_group.launch">
    <arg name="robot_state_frequency"	value="$(arg robot_state_frequency)"/>
    <arg name="moveit_config"		value="$(arg moveit_config)"/>
    <arg name="rviz_config"		value="$(arg rviz_config)"/>
  </include>

  <!-- Launch other hardware drivers -->
  <group if="$(eval not sim)">

    <!-- Drivers for the force sensors -->
    <!-- <include file="$(find aist_ftsensor)/launch/aist_ftsensor.launch"> -->
    <!--   <arg name="robot_name"	value="c_bot"/> -->
    <!-- </include> -->
    <!-- <include file="$(find aist_ftsensor)/launch/aist_ftsensor.launch"> -->
    <!--   <arg name="robot_name"	value="d_bot"/> -->
    <!-- </include> -->

    <!-- Launch PhoXi camera -->
    <include file="$(find aist_phoxi_camera)/launch/run.launch">
        <arg name="camera_name"	value="b_phoxi_m_camera"/>
    	<arg name="id"		value='"1711015"'/>
    	<arg name="frame"	value="calibrated_b_phoxi_m_camera"/>
    </include>
    
  </group>

</launch>
