<?xml version="1.0"?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="scene"			default="skhi_base_scene"/>
  <arg name="joint_state_frequency"	default="50"/>
  <arg name="robot_state_frequency"	default="50"/>
  <arg name="moveit_config"		default="$(find skhi_moveit_config)"/>
  <arg name="rviz_config"		default=""/>

  <!-- Setup "skhi" configuration -->
  <arg name="prefixes"			value="a_khi_, a_khi_"/>
  <arg name="devices"			value="RS007L, gripper"/>
  <arg name="controllers"		value="khi, fetch"/>
  <arg name="drivers"			value="khi"/>
  <arg name="driver_args"		value="192.168.0.2, 4,"/>

  <!-- Bringup robots -->
  <include file="$(find aist_bringup)/launch/include/connect_robots.launch">
    <arg name="robot_description_file"
	 value="$(find aist_description)/scenes/urdf/$(arg scene).urdf.xacro"/>
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name="prefixes"		value="$(arg prefixes)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="drivers"			value="$(arg drivers)"/>
    <arg name="driver_args"		value="$(arg driver_args)"/>
  </include>

  <!-- Start MoveIt! -->
  <include file="$(find aist_bringup)/launch/include/move_group.launch">
    <arg name="robot_state_frequency"	value="$(arg robot_state_frequency)"/>
    <arg name="moveit_config"		value="$(arg moveit_config)"/>
    <arg name="rviz_config"		value="$(arg rviz_config)"/>
  </include>

  <!-- Launch other hardware drivers -->
  <group if="$(eval not sim)">

    <!-- Launch PhoXi camera -->
    <include file="$(find aist_phoxi_camera)/launch/run.launch">
      <arg name="camera_name"		value="a_khi_camera"/>
      <arg name="id"			value="2020-01-098-LC3"/>
      <arg name="frame"			value="calibrated_a_khi_camera"/>
      <arg name="intensity_scale"	value="0.05"/>
    </include>

  </group>

</launch>
