<?xml version="1.0"?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="scene"			default="skhi_base_scene"/>
  <arg name="joint_state_frequency"	default="50"/>
  <arg name="robot_state_frequency"	default="50"/>
  <arg name="moveit_config"		default="$(find skhi_moveit_config)"/>
  <arg name="rviz_config"		default=""/>

  <arg name="prefixes"	  value="a_khi_ a_khi_"/>
  <arg name="devices"	  value="RS007L fetch_gripper"/>
  <arg name="controllers" value="a_khi_controller
				 a_khi_gripper_controller/gripper_action"/>
  <arg name="drivers"	  value="khi"/>
  <arg name="driver_args" value="10.66.171.91, 4"/>

  <include file="$(find aist_bringup)/launch/include/generic_bringup.launch">
    <arg name="sim"			value="$(arg sim)"/>
    <arg name="scene"			value="$(arg scene)"/>
    <arg name="joint_state_frequency"	value="$(arg joint_state_frequency)"/>
    <arg name="robot_state_frequency"	value="$(arg robot_state_frequency)"/>
    <arg name="moveit_config"		value="$(arg moveit_config)"/>
    <arg name="rviz_config"		value="$(arg rviz_config)"/>
    <arg name="prefixes"		value="$(arg prefixes)"/>
    <arg name="devices"			value="$(arg devices)"/>
    <arg name="controllers"		value="$(arg controllers)"/>
    <arg name="drivers"			value="$(arg drivers)"/>
    <arg name="driver_args"		value="$(arg driver_args)"/>
  </include>

</launch>
