<?xml version="1.0"?>
<launch>

  <arg name="prefix"	default="torobo_"/>
  <arg name="device"	default="torobo"/>
  <arg name="ip"	default="10.66.171.61"/>
  <arg name="port"	default="50000"/>

  <rosparam ns="torobo"
	    file="$(find aist_bringup)/config/torobo_driver.yaml"
	    subst_value="true"/>

</launch>
