<?xml version="1.0"?>
<launch>

  <arg name="prefix"	default="ur_"/>
  <arg name="device"	default="ur5"/>
  <arg name="ip"	default="10.66.171.51"/>
  <arg name="port"	default="50002"/>

  <group ns="$(arg prefix)controller">
    <node name="ur_driver" pkg="ur_modern_driver" type="ur_driver"
	  output="screen">
      <rosparam filename="$(find aist_bringup
			  )/config/templates/$(arg device)_driver.yaml"
		subst_value="true"/>
      <repmap from="joint_states" to="/joint_states"/>
    </node>
  </group>

</launch>
