<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find o2as_precision_gripper)/urdf/precision_gripper.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:precision_gripper prefix="" grippername="gripper" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:precision_gripper>
</robot>
