<?xml version="1.0" ?>
<launch>
  <arg name="config"		default="aist"/>
  <arg name="scene"		default="$(arg config)_base_scene"/>
  <arg name="sim"		default="false"/>
  <arg name="rviz_config"
       default = "$(find aist_moveit_config)/launch/moveit.rviz"/>

  <param name="use_real_robot"	value="$(eval not arg('sim'))"/>
  <rosparam command="delete" param="grippers"/>
  <rosparam command="delete" param="cameras"/>
  <rosparam command="load"
	    file="$(find aist_routines)/config/$(arg config)_config.yaml"/>

  <!-- Launch real robots if "sim" == "false" -->
  <include file="$(find aist_examples)/launch/connect_$(arg config)_robots.launch"
	   unless="$(eval arg('sim'))"/>

  <!-- Launch planner -->
  <include file="$(find aist_moveit_config)/launch/aist_moveit_planning_execution.launch">
    <arg name="config"		value="$(arg config)"/>
    <arg name="scene"		value="$(arg scene)"/>
    <arg name="sim"		value="$(arg sim)"/>
    <arg name="rviz_config"	value="$(arg rviz_config)"/>
  </include>

</launch>
