<launch>
  <!-- launch real robot -->
  <include file="$(find o2as_examples)/launch/connect_aist_robots.launch" />

  <!-- launch o2as_phoxi_camera by real sensor -->
  <include file="$(find o2as_phoxi_camera)/launch/o2as_phoxi_camera_test.launch">
    <param name="id" value="1711015" />
  </include>

  <!-- run script to kit parts -->
  <node name="aist_kitting" type="aist_kitting_server.py" pkg="aist_kitting" respawn="false" output="screen" />
</launch>
