<?xml version="1.0"?>
<launch>

  <arg name="no_static_map"	default="true"/>

  <!-- Start navigation stack -->
  <!-- <include file="$(find	aist_navigation)/launch/move_base_mapless.launch"/> -->

  <!-- Publish base_scan_raw if anything subscribes to it -->
  <node name="publish_base_scan_raw"
  	pkg="topic_tools" type="relay" args="base_scan base_scan_raw" >
    <param name="lazy" type="bool" value="True"/>
  </node>

  <!-- Start a mux between application and teleop -->
  <node name="cmd_vel_mux" pkg="topic_tools" type="mux"
  	respawn="true" args="base_controller/command /cmd_vel /teleop/cmd_vel">
    <remap from="mux" to="cmd_vel_mux" />
  </node>

</launch>
