1;4205;0c<?xml version="1.0" ?>
<launch>
  <arg name="camera_name"	default="a_phoxi_m_camera"/>

  <include if="$(eval camera_name == 'a_phoxi_m_camera')"
	   file="$(find aist_phoxi_camera)/launch/run.launch">
    <arg name="camera_name"	value="$(arg camera_name)"/>
    <arg name="id"		value="2018-09-016-LC3"/>
    <arg name="frame"		value="$(arg camera_name)_from_b_bot"/>
  </include>

  <include if="$(eval camera_name == 'b_phoxi_m_camera')"
	   file="$(find aist_phoxi_camera)/launch/run.launch">
    <arg name="camera_name"	value="$(arg camera_name)"/>
    <arg name="id"		value='"1711015"'/>
    <arg name="frame"		value="$(arg camera_name)_from_b_bot"/>
  </include>

  <include if="$(eval camera_name == 'a_bot_camera')"
	   file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"			value="$(arg camera_name)"/>
    <arg name="enable_depth"		value="true"/>
    <arg name="enable_infra1"		value="false"/>
    <arg name="enable_infra2"		value="false"/>
    <arg name="enable_pointcloud"	value="false"/>
    <arg name="align_depth"		value="true"/>
    <arg name="publish_tf"		value="false"/>
  </include>

  <include if="$(eval camera_name == 'b_bot_camera')"
	   file="$(find v4l2_camera)/launch/run.launch">
    <arg name="camera_name"	value="$(arg camera_name)"/>
    <arg name="convert_to_rgb"	value="true"/>
  </include>

  <group if="$(eval camera_name == 'a_bot_wrist_cameras')">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no"		value="636203005853"/>
      <arg name="camera"		value="a_bot_wrist_camera0"/>
      <arg name="enable_depth"		value="true"/>
      <arg name="enable_color"		value="true"/>
      <arg name="enable_infra1"		value="false"/>
      <arg name="enable_infra2"		value="false"/>
      <arg name="enable_pointcloud"	value="false"/>
      <arg name="depth_fps"		value="10"/>
      <arg name="color_fps"		value="10"/>
      <arg name="align_depth"		value="true"/>
      <arg name="publish_tf"		value="true"/>
      <arg name="enable_streaming"	value="false"/>
    </include>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="serial_no"		value="636203005303"/>
      <arg name="camera"		value="a_bot_wrist_camera1"/>
      <arg name="enable_depth"		value="true"/>
      <arg name="enable_color"		value="true"/>
      <arg name="enable_infra1"		value="false"/>
      <arg name="enable_infra2"		value="false"/>
      <arg name="enable_pointcloud"	value="false"/>
      <arg name="depth_fps"		value="10"/>
      <arg name="color_fps"		value="10"/>
      <arg name="align_depth"		value="true"/>
      <arg name="publish_tf"		value="false"/>
      <arg name="enable_streaming"	value="false"/>
    </include>

    <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
	  args="-d a_bot_wrist_cameras.rviz" output="screen"/>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
  </group>

</launch>
