<?xml version="1.0" ?>
<launch>
  <arg name="config"		default="aist"/>
  <arg name="scene"		default="$(arg config)_base_scene"/>
  <arg name="sim"		default="false"/>
  <arg name="rviz_config"       default=""/>
  <arg name="debug"		default="false"/>

  <param name="use_real_robot"	value="$(eval not arg('sim'))"/>
  <rosparam command="delete" param="groups"/>
  <rosparam command="delete" param="grippers"/>
  <rosparam command="delete" param="cameras"/>
  <rosparam command="load"
  	    file="$(find aist_routines)/config/$(arg config)_config.yaml"/>

  <!-- Launch gazebo if "sim == true". -->
  <include file="$(find aist_gazebo)/launch/$(arg config)_gazebo.launch"
  	   if="$(arg sim)">
    <arg name="scene"	value="$(arg scene)"/>
  </include>

  <!-- Load robot urdf to param "robot_description" and launch
       real robots if "sim" == "false". -->
  <param name="robot_description"
	 command="$(find xacro)/xacro '$(find
                  aist_scene_description)/urdf/$(arg scene).urdf.xacro'"
	 unless="$(arg sim)"/>
  <include file="$(find aist_routines)/launch/connect_$(arg config)_robots.launch"
	   unless="$(arg sim)"/>

  <!-- Launch planner -->
  <include file="$(find aist_routines)/launch/$(arg config)_moveit_planning_execution.launch">
    <arg name="rviz_config"	value="$(arg rviz_config)"/>
    <arg name="debug"		value="$(arg debug)"/>
  </include>
</launch>
