<?xml version="1.0"?>
<launch>

  <arg name="nav"	default="true"/>

  <!-- Start navigation stack -->
  <include file="$(find	fetch_navigation)/launch/fetch_nav.launch"
	   if="$(arg nav)">
    <arg name="map_file"
  	 value="$(find fetch_gazebo_demo)/maps/test_zone.yaml"/>
  </include>

  <node unless="$(arg nav)"
	name="map_odom" pkg="tf" type="static_transform_publisher"
        args="0 0 0 0 0 0 map odom 10"/>

</launch>
