<?xml version="1.0" ?>
<launch>
  <arg name="config"		default="aist"/>
  <arg name="scene"		default="$(arg config)_base_scene"/>
  <arg name="sim"		default="false"/>
  <arg name="rviz_config"       default=""/>
  <arg name="debug"		default="false"/>

  <param name="use_real_robot"	value="$(eval not arg('sim'))"/>
  <rosparam command="delete" param="grippers"/>
  <rosparam command="delete" param="cameras"/>
  <rosparam command="load"
  	    file="$(find aist_routines)/config/$(arg config)_config.yaml"/>

  <!-- Launch gazebo and remap follow_joint_trajectory if "sim
       == true". -->
  <group if="$(arg sim)">
    <include file="$(find aist_gazebo)/launch/$(arg config)_gazebo.launch">
      <arg name="scene"	value="$(arg scene)"/>
    </include>
    <remap from="/follow_joint_trajectory"
	   to  ="/arm_controller/follow_joint_trajectory"/>
  </group>

  <!-- Load robot urdf to param "robot_description", spawn
       robot_state_publisher and launch real robots if "sim" == "false". -->
  <group unless="$(arg sim)">
    <param name="robot_description"
	   command="$(find xacro)/xacro --inorder '$(find
		    aist_description)/scene/urdf/$(arg scene).urdf.xacro'"/>
    <node name="robot_state_publisher"
	  pkg="robot_state_publisher" type="robot_state_publisher"/>
    <include file="$(find aist_routines)/launch/$(arg
		   config)_connect_robots.launch"/>
  </group>

  <!-- Launch planner -->
  <include file="$(find aist_routines)/launch/$(arg
		 config)_moveit_planning_execution.launch">
    <arg name="scene"		value="$(arg scene)"/>
    <arg name="sim"		value="$(arg sim)"/>
    <arg name="rviz_config"	value="$(arg rviz_config)"/>
    <arg name="debug"		value="$(arg debug)"/>
  </include>
</launch>
