<launch>
  <arg name="scene"/>
  <arg name="sim"		default="false"/>
  <arg name="rviz_config"	default=""/>
  <arg name="debug"		default="false"/>
  <arg name="rqt"		default="false"/>

  <group ns="torobo">
    <rosparam param="robot_config"
	      file="$(find torobo_description
		    )/config/products/$(optenv PRODUCT default).yaml"/>

    <!-- launch nodelet manager -->
    <node name="torobo_nodelet_manager" pkg="nodelet" type="nodelet"
      	  args="manager" output="screen"/>
  </group>

  <!-- launch torobo dynamics -->
  <include unless="$(arg sim)"
	   file="$(find torobo_dynamics)/launch/torobo_dynamics.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <!-- launch torobo control -->
  <include file="$(find torobo_control)/launch/torobo_control.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <!-- launch torobo collision detector -->
  <include file="$(find torobo_collision_detector
		 )/launch/torobo_collision_detector.launch"/>
  <include file="$(find torobo_collision_detector
		 )/launch/current_state_self_collision_checker.launch">
    <arg name="sim" value="$(arg sim)"/>
  </include>

  <!-- launch torobo operation -->
  <!-- <include file="$(find torobo_operation)/launch/torobo_operation.launch"/> -->

  <!-- launch rqt gui -->
  <include file="$(find torobo_gui)/launch/torobo_joint_controller.launch"
  	   if="$(arg rqt)"/>

  <!-- Launch moveit -->
  <group ns="torobo">
    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher"
	  pkg="robot_state_publisher" type="robot_state_publisher"
	  respawn="true" output="screen">
      <remap from="joint_states" to="joint_state_server/joint_states"/>
    </node>

    <!-- load controller_config -->
    <rosparam file="$(find
    		    dtorobo_moveit_config)/config/controller_config.yaml"/>

    <include file="$(find
		   aist_routines)/launch/moveit_planning_execution.launch">
      <arg name="moveit_config"	value="$(find dtorobo_moveit_config)"/>
      <arg name="rviz_config"	value="$(arg rviz_config)"/>
      <arg name="debug"		value="$(arg debug)"/>
    </include>
  </group>

</launch>
