<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="sim"	default="true"/>
  <arg name="mock"	default="false"/>
  <arg name="core"	default="true"/>
  <arg name="rqt"	default="true"/>
  <arg name="rviz"	default="true"/>

  <param name="use_real_robot"	value="$(eval not arg('sim'))"/>
  <rosparam command="delete" param="groups"/>
  <rosparam command="delete" param="grippers"/>
  <rosparam command="delete" param="cameras"/>
  <rosparam command="load"
  	    file="$(find aist_routines)/config/dtorobo_config.yaml"/>

  <group if="$(arg core)">

    <!-- Load robot configs -->
    <group ns="torobo">
      <include file="$(find aist_routines)/launch/load_robot_config.launch"/>
    </group>

    <!-- launch gazebo -->
    <include if="$(arg sim)"
	     file="$(find aist_routines)/launch/torobo_world.launch"/>

    <!-- launch nodelet manager -->
    <group ns="torobo">
      <node name="torobo_nodelet_manager" pkg="nodelet" type="nodelet"
      	    args="manager" output="screen"/>
    </group>

    <!-- launch torobo driver -->
    <include unless="$(arg sim)"
      	     file="$(find torobo_driver)/launch/torobo_driver.launch">
      <arg name="mock" value="$(arg mock)"/>
    </include>

    <!-- launch torobo dynamics -->
    <!-- <include file="$(find torobo_dynamics)/launch/torobo_dynamics.launch"> -->
    <!--   <arg name="sim" value="$(arg sim)"/> -->
    <!-- </include> -->

    <!-- launch torobo control -->
    <include file="$(find torobo_control)/launch/torobo_control.launch">
        <arg name="sim" value="$(arg sim)"/>
    </include>

    <!-- launch moveit_config -->
    <group ns="torobo">
      <include file="$(find dtorobo_moveit_config)/launch/dtorobo_base_scene_moveit_config.launch">
        <arg name="sim_in_moveit" value="false"/>
      </include>
    </group>

    <!-- launch torobo operation -->
    <!-- <include file="$(find torobo_operation)/launch/torobo_operation.launch"/> -->

    <!-- launch torobo collision detector -->
    <include file="$(find torobo_collision_detector)/launch/torobo_collision_detector.launch"/>
    <include file="$(find torobo_collision_detector)/launch/current_state_self_collision_checker.launch">
      <arg name="sim" value="$(arg sim)"/>
    </include>

  </group>

  <!-- launch rqt gui -->
  <group if="$(arg rqt)">
    <include unless="$(arg sim)"
             file="$(find torobo_gui)/launch/torobo_state_viewer.launch"/>
    <!-- <include file="$(find torobo_gui)/launch/torobo_joint_controller.launch"/> -->
  </group>

  <!-- launch rviz gui -->
  <group if="$(arg rviz)" ns="torobo">
    <include if="$(arg rviz)"
  	     file="$(find dtorobo_moveit_config)/launch/moveit_rviz.launch">
      <arg name="config" value="true" />
    </include>
  </group>

</launch>
