<launch>
  <arg name="rviz_config"	default=""/>
  <arg name="debug"		default="false"/>
  <arg name="rqt"		default="true"/>

  <!-- launch rqt gui -->
  <group if="$(arg rqt)">
    <include file="$(find torobo_gui)/launch/torobo_joint_controller.launch"/>
  </group>

  <!-- Launch moveit -->
  <group ns="torobo">
    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher"
	  pkg="robot_state_publisher" type="robot_state_publisher"
	  respawn="true" output="screen">
      <remap from="joint_states" to="joint_state_server/joint_states"/>
    </node>

    <!-- load controller_config -->
    <rosparam file="$(find
    		    dtorobo_moveit_config)/config/controller_config.yaml"/>

    <include file="$(find aist_routines)/launch/moveit_planning_execution.launch">
      <arg name="moveit_config"	value="$(find dtorobo_moveit_config)"/>
      <arg name="rviz_config"	value="$(arg rviz_config)"/>
      <arg name="debug"		value="$(arg debug)"/>
    </include>
  </group>

</launch>
