<?xml version="1.0"?>
<launch>

  <arg name="scene"/>
  <arg name="sim"       default="false"/>
  <arg name="rviz_config"   default=""/>
  <arg name="debug"     default="false"/>

  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="model" default="iiwa14"/>

  <arg name="end_effector" default=""/>
  <arg name="trajectory" default="true"/>

  <arg name="robot_name_1" default="a_iiwa"/>
  <arg name="origin_x_1" default="0" />
  <arg name="origin_y_1" default="0" />
  <arg name="origin_z_1" default="0" />
  <arg name="origin_roll_1"  default="0" />
  <arg name="origin_pitch_1" default="0" />
  <arg name="origin_yaw_1"   default="0" />

  <arg name="robot_name_2" default="b_iiwa"/>
  <arg name="origin_x_2" default="0" />
  <arg name="origin_y_2" default="1.2" />
  <arg name="origin_z_2" default="0" />
  <arg name="origin_roll_2"  default="0" />
  <arg name="origin_pitch_2" default="0" />
  <arg name="origin_yaw_2"   default="0" />

  <include file="$(find aist_iiwa_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
    <arg name="hardware_interface" value="$(arg hardware_interface)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="end_effector" value="$(arg end_effector)"/>
    <arg name="robot_name_1" value="$(arg robot_name_1)"/>
    <arg name="origin_x_1" value="$(arg origin_x_1)" />
    <arg name="origin_y_1" value="$(arg origin_y_1)" />
    <arg name="origin_z_1" value="$(arg origin_z_1)" />
    <arg name="origin_roll_1"  value="$(arg origin_roll_1)" />
    <arg name="origin_pitch_1" value="$(arg origin_pitch_1)" />
    <arg name="origin_yaw_1"   value="$(arg origin_yaw_1)" />
    <arg name="robot_name_2" value="$(arg robot_name_2)"/>
    <arg name="origin_x_2" value="$(arg origin_x_2)" />
    <arg name="origin_y_2" value="$(arg origin_y_2)" />
    <arg name="origin_z_2" value="$(arg origin_z_2)" />
    <arg name="origin_roll_2"  value="$(arg origin_roll_2)" />
    <arg name="origin_pitch_2" value="$(arg origin_pitch_2)" />
    <arg name="origin_yaw_2"   value="$(arg origin_yaw_2)" />
    <arg name="urdf_path" value="$(find aist_description)/scene/urdf/iiwa_base_scene.urdf.xacro" />
  </include>

  <arg name="use_gui" default="false" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg use_gui)"/>
    <rosparam param="source_list">[/a_iiwa/joint_states, /b_iiwa/joint_states]</rosparam>
  </node>

  <include file="$(find aist_iiwa_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="hardware_interface" value="$(arg hardware_interface)"/>
    <arg name="end_effector" value="$(arg end_effector)" />
    <arg name="debug" value="$(arg debug)"/>
  </include>
  <include file="$(find aist_iiwa_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value=""/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
