<?xml version="1.0" ?>
<launch>
  <arg name="config"		default="aist"/>
  <arg name="scene"		default="kitting"/>
  <arg name="sim"		default="false"/>
  <arg name="camera_name"	default="a_phoxi_m_camera"/>

  <!-- Start robot controller -->
  <include file="$(find aist_bringup)/launch/$(arg config)_bringup.launch">
    <arg name="scene"		value="$(arg scene)"/>
    <arg name="sim"		value="$(arg sim)"/>
    <arg name="rviz_config"	value="$(find aist_routines
				       )/launch/kitting.rviz"/>
  </include>

  <!-- Load and publish hand-eye calibration -->
  <include file="$(find aist_handeye_calibration)/launch/publish.launch">
    <arg name="config"		value="$(arg config)" />
    <arg name="camera_name"	value="$(arg camera_name)" />
  </include>

  <!-- Start graspability server -->
  <include file="$(find aist_graspability)/launch/run.launch">
    <arg name="camera_info_topic"	value="$(arg camera_name)/camera_info"/>
    <arg name="image_topic"		value="$(arg camera_name)/texture"/>
    <arg name="depth_topic"		value="$(arg camera_name)/depth_map"/>
    <arg name="normal_topic"		value="$(arg camera_name)/normal_map"/>
  </include>

</launch>
