<?xml version="1.0" ?>
<launch>
  <arg name="config"	default="aist"/>

  <rosparam command="delete" param="groups"/>
  <rosparam command="delete" param="grippers"/>
  <rosparam command="delete" param="cameras"/>
  <rosparam command="delete" param="moveit_pose_reference_frame"/>
  <rosparam command="delete" param="moveit_eef_step"/>
  <rosparam command="load"
  	    file="$(find aist_routines)/config/$(arg config)_config.yaml"/>
</launch>
