<?xml version="1.0"?>
<launch>

  <arg name="debug"	default="false" />
  <arg name="viewer"	default="false" />
  <arg name="ip"	default="10.66.171.81" />
  <arg name="period"	default="2" />
  <arg name="robot"	default="RS007L" />

  <!-- Drivers for the robots -->
  <include file="$(find khi_robot_control)/launch/khi_robot_control.launch" >
    <arg name="debug"		value="$(arg debug)" />
    <arg name="simulation"	value="false" />
    <arg name="viewer"		value="$(arg viewer)" />
    <arg name="ip"		value="$(arg ip)" />
    <arg name="period"		value="$(arg period)" />
    <arg name="robot"		value="$(arg robot)" />
  </include>

  <!-- Convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher"
  	type="robot_state_publisher" respawn="false" output="screen"/>

  <!-- Load controller parameters from YAML file to parameter server -->
  <rosparam file="$(find aist_routines)/config/skhi_controllers.yaml"
            command="load"/>

  <!-- Load the default controllers -->
  <node name="controller_manager" pkg="controller_manager"
        type="controller_manager" respawn="false" output="screen"
        args="spawn joint_state_controller a_khi_controller" />

  <!-- load joint group controllers -->
  <node name="joint_group_controller_manager" pkg="controller_manager"
        type="controller_manager" respawn="false" output="screen"
        args="load joint_group_controller" />

</launch>
