<launch>

    <arg name="product" default="$(optenv PRODUCT default)" />
    <arg name="sim" default="true"/>
    <arg name="mock" default="false"/>
    <arg name="core" default="true"/>
    <arg name="dynamics" default="true"/>
    <arg name="rqt" default="true"/>
    <arg name="rviz" default="true"/>
    <arg name="gazebo_gui" default="true"/>

    <group if="$(arg core)">

      <!-- Load robot configs -->
      <group ns="torobo">
        <include file="$(find torobo_description)/launch/load_robot_config.launch">
          <arg name="product" value="$(arg product)"/>
        </include>
      </group>

      <!-- launch gazebo -->
      <include if="$(arg sim)" file="$(find torobo_gazebo)/launch/torobo_world.launch">
        <arg name="product" value="$(arg product)"/>
        <arg name="gui" value="$(arg gazebo_gui)"/>
      </include>

      <!-- launch nodelet manager -->
      <group ns="torobo">
        <node pkg="nodelet" type="nodelet" args="manager" name="torobo_nodelet_manager" output="screen"/>
      </group>

      <!-- launch torobo driver -->
      <include unless="$(arg sim)" file="$(find torobo_driver)/launch/torobo_driver_nodelet.launch">
        <arg name="product" value="$(arg product)"/>
        <arg name="mock" value="$(arg mock)"/>
        <arg name="manager" value="torobo_nodelet_manager"/>
        <arg name="rate" value="1000"/>
      </include>

      <!-- launch torobo control -->
      <include file="$(find torobo_control)/launch/torobo_control_nodelet.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="manager" value="torobo_nodelet_manager"/>
      </include>

      <group if="$(arg dynamics)">
        <!-- launch torobo dynamics -->
        <include file="$(find torobo_dynamics)/launch/torobo_dynamics_nodelet.launch">
          <arg name="sim" value="$(arg sim)"/>
          <arg name="manager" value="torobo_nodelet_manager"/>
        </include>
      </group>

      <!-- launch moveit_config -->
      <group ns="torobo">
        <include file="$(find torobo_moveit_config)/launch/torobo_moveit_config.launch">
          <arg name="product" value="$(arg product)"/>
          <arg name="sim_in_moveit" value="false"/>
        </include>
      </group>

      <!-- launch torobo motion manager -->
      <include file="$(find torobo_motion_manager)/launch/torobo_motion_manager_nodelet.launch">
        <arg name="manager" value="torobo_nodelet_manager"/>
      </include>

      <!-- launch torobo collision detector -->
      <include file="$(find torobo_collision_detector)/launch/torobo_collision_detector_nodelet.launch">
        <arg name="debug" value="false"/>
        <arg name="manager" value="torobo_nodelet_manager"/>
      </include>
      <include file="$(find torobo_collision_detector)/launch/current_state_self_collision_checker_nodelet.launch">
        <arg name="sim" value="$(arg sim)"/>
        <arg name="rate" value="100"/>
        <arg name="manager" value="torobo_nodelet_manager"/>
      </include>

    </group>

    <!-- launch rqt gui -->
    <group if="$(arg rqt)">
      <include unless="$(arg sim)" file="$(find torobo_gui)/launch/torobo_state_viewer.launch"/>
      <include file="$(find torobo_gui)/launch/torobo_joint_controller.launch"/>
    </group>

    <!-- launch rviz gui -->
    <group if="$(arg rviz)" ns="torobo">
      <include if="$(arg rviz)" file="$(find torobo_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true" />
      </include>
    </group>

</launch>
