<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- <arg name="config" default="false" /> -->
  <arg name="rviz_config"  default="" />
  <arg name="command_args" value="" if="$(eval arg('rviz_config') == '')" />
  <arg name="command_args" value="-d $(arg rviz_config)"
       unless="$(eval arg('rviz_config') == '')"  />

  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)"
	pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
    <rosparam command="load"
	      file="$(find aist_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
