<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find aist_description)/device/urdf/_sr305.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:sensor_sr305 prefix="" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:sensor_sr305>
</robot>
