<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find torobo_resources
			   )/urdf/arm/TRBA-R-002-7/arm.urdf.xacro"/>

  <xacro:macro name="torobo_arm" params="prefix parent *joint_origin">
    <xacro:arm_v0 prefix="${prefix}" parent="${parent}">
      <xacro:insert_block name="joint_origin"/>
    </xacro:arm_v0>

    <link  name="${prefix}arm/ee_link"/>
    <joint name="${prefix}arm/ee_joint" type="fixed">
      <parent link="${prefix}arm/link_7"/>
      <child  link="${prefix}arm/ee_link"/>
      <origin xyz="0 0 0" rpy="0 ${-pi/2} 0"/>
    </joint>
  </xacro:macro>

</robot>
