<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find torobo_resources)/urdf/gripper/TRBG-L-B-001/gripper.urdf.xacro"/>

  <xacro:macro name="torobo_gripper"
	       params="prefix parent use_graspfix *joint_origin">
    <link  name="${prefix}gripper/base_link"/>
    <joint name="${prefix}gripper_parent_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${prefix}gripper/base_link"/>
      <xacro:insert_block name="joint_origin"/>
    </joint>
    
    <xacro:gripper_v0 prefix="${prefix}"
    		      parent="${prefix}gripper/base_link"
    		      use_graspfix="${use_graspfix}">
      <origin xyz="0 0 0" rpy="0 ${pi/2} 0"/>
    </xacro:gripper_v0>

    <link  name="${prefix}gripper/tip_link"/>
    <joint name="${prefix}gripper/tip_joint" type="fixed">
      <parent link="${prefix}grasping_frame"/>
      <child  link="${prefix}gripper/tip_link"/>
      <origin xyz="0 0 0" rpy="0 ${-pi/2} 0"/>
    </joint>
  </xacro:macro>

</robot>
