<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"/>
  <arg name="prefix" default=""/>
  
  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find o2as_scene_description)/urdf/ur5_robot.urdf.xacro' prefix:='$(arg prefix)'" />
  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find o2as_scene_description)/urdf/ur5_joint_limited_robot.urdf.xacro' prefix:='$(arg prefix)'" />
</launch>
