<?xml version="1.0" ?>
<launch>

  <arg name="camera_name"		default="a_phoxi_m_camera"/>
  <arg name="camera_info_topic"		default="camera_info"/>
  <arg name="image_topic"		default="texture"/>
  <arg name="depth_topic"		default="depth_map"/>
  <arg name="normal_topic"		default="normal_map"/>

  <node name="depth_filter" pkg="aist_depth_filter" type="aist_depth_filter"
  	output="screen">
    <remap from="/camera_info"	to="/$(arg camera_name)/$(arg camera_info_topic)"/>
    <remap from="/image"	to="/$(arg camera_name)/$(arg image_topic)"/>
    <remap from="/depth"	to="/$(arg camera_name)/$(arg depth_topic)"/>
    <remap from="/normal"	to="/$(arg camera_name)/$(arg normal_topic)"/>

    <!-- Other parameters -->
  </node>

</launch>
