<?xml version="1.0"?>
<launch>

   <!-- This lauch file just loads the URDF with the given hardware interface and robot name into the ROS Parameter Server -->
  <arg name="hardware_interface" default="PositionJointInterface"/> 
  <arg name="end_effector" default=""/>

  <arg name="robot_name_1" default="a_iiwa"/>
  <arg name="origin_x_1" default="0"/>
  <arg name="origin_y_1" default="0"/>
  <arg name="origin_z_1" default="0"/>
  <arg name="origin_roll_1"  default="0"/>
  <arg name="origin_pitch_1" default="0"/>
  <arg name="origin_yaw_1"   default="0"/>

  <arg name="robot_name_2" default="b_iiwa"/>
  <arg name="origin_x_2" default="0"/>
  <arg name="origin_y_2" default="1"/>
  <arg name="origin_z_2" default="0"/>
  <arg name="origin_roll_2"  default="0"/>
  <arg name="origin_pitch_2" default="0"/>
  <arg name="origin_yaw_2"   default="${pi}"/>

  <arg name="exist_objs" default="true"/>

  <arg name="urdf_path" default="$(find aist_iiwa_moveit_config)/config/iiwa14_2robots.urdf.xacro" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg urdf_path)' hardware_interface:=$(arg hardware_interface) end_effector:=$(arg end_effector) robot_name_1:=$(arg robot_name_1) origin_x_1:=$(arg origin_x_1) origin_y_1:=$(arg origin_y_1) origin_z_1:=$(arg origin_z_1) origin_roll_1:=$(arg origin_roll_1) origin_pitch_1:=$(arg origin_pitch_1) origin_yaw_1:=$(arg origin_yaw_1) robot_name_2:=$(arg robot_name_2) origin_x_2:=$(arg origin_x_2) origin_y_2:=$(arg origin_y_2) origin_z_2:=$(arg origin_z_2) origin_roll_2:=$(arg origin_roll_2) origin_pitch_2:=$(arg origin_pitch_2) origin_yaw_2:=$(arg origin_yaw_2) exist_objs:=$(arg exist_objs)" />

</launch> 
