<?xml version="1.0"?>
<launch>
  <arg name="sim" default="true" doc="If true, the robot will be simulated in Gazebo" />
  
  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="model" default="iiwa14"/>
  
  <arg name="gui" default="true" />
  <arg name="debug" default="false" />
  
  <arg name="end_effector" default=""/>
  <arg name="trajectory" default="true"/>
  
  <arg name="robot_name_1" default="a_iiwa"/>
  <arg name="origin_x_1" default="0" />
  <arg name="origin_y_1" default="0" />
  <arg name="origin_z_1" default="0" />
  <arg name="origin_roll_1"  default="0" />
  <arg name="origin_pitch_1" default="0" />
  <arg name="origin_yaw_1"   default="0" />
  
  <arg name="robot_2"      default="true"/>
  <arg name="robot_name_2" default="b_iiwa"/>
  <arg name="origin_x_2" default="0" />
  <arg name="origin_y_2" default="1.2" />
  <arg name="origin_z_2" default="0" />
  <arg name="origin_roll_2"  default="0" />
  <arg name="origin_pitch_2" default="0" />
  <!-- <arg name="origin_yaw_2"   default="${pi}" /> -->
  <arg name="origin_yaw_2"   default="0" />

  <arg name="exist_objs" default="true" />

  <arg name="urdf_path" default="$(find aist_iiwa_moveit_config)/config/$(arg model)_2robots.urdf.xacro" />

  <group if="$(arg sim)">
    <include file="$(find aist_iiwa_gazebo)/launch/iiwa_gazebo.launch">
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="model" value="$(arg model)"/>
      <arg name="trajectory" value="$(arg trajectory)" />
      <arg name="end_effector" value="$(arg end_effector)"/>
      <arg name="robot_name_1" value="$(arg robot_name_1)" />
      <arg name="origin_x_1" value="$(arg origin_x_1)" />
      <arg name="origin_y_1" value="$(arg origin_y_1)" />
      <arg name="origin_z_1" value="$(arg origin_z_1)" />
      <arg name="origin_roll_1"  value="$(arg origin_roll_1)" />
      <arg name="origin_pitch_1" value="$(arg origin_pitch_1)" />
      <arg name="origin_yaw_1"   value="$(arg origin_yaw_1)" />
      <arg name="robot_2"      value="$(arg robot_2)" />
      <arg name="robot_name_2" value="$(arg robot_name_2)" />
      <arg name="origin_x_2" value="$(arg origin_x_2)" />
      <arg name="origin_y_2" value="$(arg origin_y_2)" />
      <arg name="origin_z_2" value="$(arg origin_z_2)" />
      <arg name="origin_roll_2"  value="$(arg origin_roll_2)" />
      <arg name="origin_pitch_2" value="$(arg origin_pitch_2)" />
      <arg name="origin_yaw_2"   value="$(arg origin_yaw_2)" />
      <arg name="exist_objs" value="$(arg exist_objs)" />
      <arg name="gui" value="$(arg gui)"/>
    </include>
  </group>
  
  <group unless="$(arg sim)">
    <include file="$(find aist_iiwa_control)/launch/iiwa_control_ext.launch">
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="model" value="$(arg model)"/>
      <arg name="trajectory" value="$(arg trajectory)" />
      <arg name="robot_name" value="$(arg robot_name_1)" />
    </include>
    <include file="$(find aist_iiwa_hw)/launch/iiwa_hw_ext.launch" >
      <arg name="hardware_interface" value="$(arg hardware_interface)" />
      <arg name="robot_name" value="$(arg robot_name_1)" />
    </include>
    <group if="$(arg robot_2)">
      <include file="$(find aist_iiwa_control)/launch/iiwa_control_ext.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)"/>
        <arg name="model" value="$(arg model)"/>
        <arg name="trajectory" value="$(arg trajectory)" />
        <arg name="robot_name" value="$(arg robot_name_2)" />
      </include>
      <include file="$(find aist_iiwa_hw)/launch/iiwa_hw_ext.launch" >
        <arg name="hardware_interface" value="$(arg hardware_interface)" />
        <arg name="robot_name" value="$(arg robot_name_2)" />
      </include>
    </group>
  </group>

  <include file="$(find aist_iiwa_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
    <arg name="hardware_interface" value="$(arg hardware_interface)"/>
    <arg name="model" value="$(arg model)"/>
    <arg name="end_effector" value="$(arg end_effector)"/>
    <arg name="robot_name_1" value="$(arg robot_name_1)"/>
    <arg name="origin_x_1" value="$(arg origin_x_1)" />
    <arg name="origin_y_1" value="$(arg origin_y_1)" />
    <arg name="origin_z_1" value="$(arg origin_z_1)" />
    <arg name="origin_roll_1"  value="$(arg origin_roll_1)" />
    <arg name="origin_pitch_1" value="$(arg origin_pitch_1)" />
    <arg name="origin_yaw_1"   value="$(arg origin_yaw_1)" />
    <arg name="robot_name_2" value="$(arg robot_name_2)"/>
    <arg name="origin_x_2" value="$(arg origin_x_2)" />
    <arg name="origin_y_2" value="$(arg origin_y_2)" />
    <arg name="origin_z_2" value="$(arg origin_z_2)" />
    <arg name="origin_roll_2"  value="$(arg origin_roll_2)" />
    <arg name="origin_pitch_2" value="$(arg origin_pitch_2)" />
    <arg name="origin_yaw_2"   value="$(arg origin_yaw_2)" />
    <arg name="exist_objs" value="$(arg exist_objs)" />
    <arg name="urdf_path" value="$(arg urdf_path)" />
  </include>

  <arg name="use_gui" default="false" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg use_gui)"/>
    <rosparam param="source_list">[/a_iiwa/joint_states, /b_iiwa/joint_states]</rosparam>
  </node>

  <include file="$(find aist_iiwa_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
    <arg name="hardware_interface" value="$(arg hardware_interface)"/>
    <arg name="end_effector" value="$(arg end_effector)" />
    <arg name="debug" value="$(arg debug)"/>
  </include>
  <include file="$(find aist_iiwa_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value=""/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

</launch>
