<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="model" default="iiwa14"/>
  <arg name="end_effector" default=""/>
  <arg name="robot_name_1" default="a_iiwa"/>
  <arg name="origin_x_1" default="0"/>
  <arg name="origin_y_1" default="0"/>
  <arg name="origin_z_1" default="0"/>
  <arg name="origin_roll_1"  default="0"/>
  <arg name="origin_pitch_1" default="0"/>
  <arg name="origin_yaw_1"   default="0"/>
  <arg name="robot_name_2" default="b_iiwa"/>
  <arg name="origin_x_2" default="0"/>
  <arg name="origin_y_2" default="1.2"/>
  <arg name="origin_z_2" default="0"/>
  <arg name="origin_roll_2"  default="0"/>
  <arg name="origin_pitch_2" default="0"/>
  <arg name="origin_yaw_2"   default="${pi}"/>

  <arg name="exist_objs" default="true"/>

  <arg name="urdf_path" default="$(find aist_iiwa_moveit_config)/config/$(arg model)_2robots.urdf.xacro" />

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- Load universal robot description format (URDF) -->
  <group if="$(arg load_robot_description)">
    <include file="$(find aist_iiwa_moveit_config)/launch/$(arg model)_2robots_upload.launch">
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="end_effector" value="$(arg end_effector)" />
      <arg name="robot_name_1" value="$(arg robot_name_1)" />
      <arg name="origin_x_1" value="$(arg origin_x_1)" />
      <arg name="origin_y_1" value="$(arg origin_y_1)" />
      <arg name="origin_z_1" value="$(arg origin_z_1)" />
      <arg name="origin_roll_1"  value="$(arg origin_roll_1)" />
      <arg name="origin_pitch_1" value="$(arg origin_pitch_1)" />
      <arg name="origin_yaw_1"   value="$(arg origin_yaw_1)" />
      <arg name="robot_name_2" value="$(arg robot_name_2)" />
      <arg name="origin_x_2" value="$(arg origin_x_2)" />
      <arg name="origin_y_2" value="$(arg origin_y_2)" />
      <arg name="origin_z_2" value="$(arg origin_z_2)" />
      <arg name="origin_roll_2"  value="$(arg origin_roll_2)" />
      <arg name="origin_pitch_2" value="$(arg origin_pitch_2)" />
      <arg name="origin_yaw_2"   value="$(arg origin_yaw_2)" />
      <arg name="exist_objs" value="$(arg exist_objs)" />
      <arg name="urdf_path" value="$(arg urdf_path)" />
    </include>
  </group>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find aist_iiwa_moveit_config)/config/iiwa14$(arg end_effector).srdf" />

  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find aist_iiwa_moveit_config)/config/joint_limits$(arg end_effector).yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find aist_iiwa_moveit_config)/config/kinematics.yaml"/>
  </group>

</launch>
