<?xml version="1.0" ?>
<launch>

  <arg name="sim"			default="false"/>
  <arg name="camera_name"		default="realsenseD435"/>
  <arg name="check"			default="false"/>
  <arg name="use_dual_quaternion"	default="true"/>

  <!-- Set camera topic names -->
  <arg name="camera_info_topic"	value="color/camera_info"/>
  <arg name="image_topic"	value="color/image_raw"/>
  <arg name="depth_topic"	value="aligned_depth_to_color/image_raw"/>

  <!-- Launch devices and calibrator -->
  <include file="$(find aist_handeye_calibration
		 )/launch/include/handeye_calibration.launch">
    <arg name="config"			value="mocap"/>

    <arg name="camera_info_topic"	value="$(arg camera_info_topic)"/>
    <arg name="image_topic"		value="$(arg image_topic)"/>
    <arg name="depth_topic"		value="$(arg depth_topic)"/>

    <arg name="sim"			value="$(arg sim)"/>
    <arg name="camera_name"		value="$(arg camera_name)"/>
    <arg name="check"			value="$(arg check)"/>
    <arg name="use_dual_quaternion"	value="$(arg use_dual_quaternion)"/>
  </include>

</launch>
