<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="add_tooltip_link"  params="name parent *origin">

    <joint name="${name}_tip_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${name}_tip_link"/>
      <xacro:insert_block name="origin"/>
    </joint>
    <link name="${name}_tip_link"/>

  </xacro:macro>
</robot>
