<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="magripper" >
  <!-- LEHZ40K2_30_gripper -->
  <xacro:include filename="$(find aist_description)/devices/urdf/magripper.urdf.xacro" />
  <xacro:magripper prefix="" parent="base_link">
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </xacro:magripper>

  <link name="base_link" />
</robot>
