<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="magswitch_e30"  params="prefix parent *origin">

    <xacro:property name="magswitch_e30_length" value="0.146"/>
  
    <joint name="${prefix}magnet_base_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}magnet_base_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <link name="${prefix}magnet_base_link">
      <visual>
        <origin xyz="${magswitch_e30_length} 0 0" rpy="0 0 ${pi/2}" />
        <geometry>
          <mesh filename="package://aist_description/devices/meshes/Magswitch-E30.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="Gazebo/Red">
          <color rgba="0.8 0.1 0.1 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="${magswitch_e30_length} 0 0" rpy="0 0 ${pi/2}" />
        <geometry>
          <mesh filename="package://aist_description/devices/meshes/collision/Magswitch-E30.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <!-- Required for Gazebo -->
      <inertial>
	<mass value="0.9"/>
	<inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
      </inertial>
    </link>

    <joint name="${prefix}magnet_joint" type="fixed">
      <parent link="${prefix}magnet_base_link"/>
      <child  link="${prefix}magnet_link"/>
      <origin xyz="${magswitch_e30_length} 0 0" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}magnet_link"/>
    
    <gazebo reference="${prefix}magnet_base_link">
      <material>Gazebo/Red</material>
      <selfCollide>True</selfCollide>
    </gazebo>

  </xacro:macro>

</robot>
