<?xml version="1.0"?>

<!-- This macro adds a convenient TF frame at the tip of the closed gripper. -->
<!-- The position of the TF frame has not been measured at all and needs to be calibrated. -->

<robot name="robotiq_85_gripper_with_tip_link"
       xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robotiq_85_gripper_with_tip_link"
	       params="prefix parent *origin">
    <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro"/>
    
    <xacro:robotiq_85_gripper prefix="${prefix}" parent="${parent}">
      <xacro:insert_block name="origin"/>
    </xacro:robotiq_85_gripper>

    <!-- Add additional links for us to plan with. Oriented like the UR frame. -->
    <link name="${prefix}robotiq_85_tip_link"/>
    <joint name="${prefix}robotiq_85_tip_link_joint" type="fixed">
      <parent link="${prefix}robotiq_85_base_link"/>
      <child link="${prefix}robotiq_85_tip_link"/>
      <origin rpy="0.0 0.0 0.0" xyz=".163 0.0 0.0"/>
    </joint>
  </xacro:macro>
  
</robot>
