<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="tranbo" >

  <!-- =============== Tranbo =============== -->
  <xacro:include filename="$(find aist_description)/devices/urdf/tranbo.urdf.xacro" />
  <xacro:tranbo prefix=""/>

  <!-- =============== Gazebo =============== -->
  <gazebo>
    <plugin name="fetch_gazebo_plugin" filename="libfetch_gazebo_plugin.so"/>
  </gazebo>

</robot>
